@import '../global-sass-files/mixins';
// Loader
.main-loader {
  position: absolute;
  width: 100%;
  height: 50px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loader {
  &.content {
    .loader-inner {
      @include clearfix();
      width: 80px;
      text-align: center;
      margin: 0 auto;
      div {
        float: none;
        &:nth-child(1) {
          background-color: #007dc5;
        }
        &:nth-child(2){
          background-color: #00a7ed;
        }
        &:nth-child(3){
          background-color: #009f97;
        }
        &:nth-child(4){
          background-color: #87bd23;
        }
      }
    }
  }
}