# Monolog Bundle configuration
# https://github.com/symfony/monolog-bundle/blob/master/DependencyInjection/Configuration.php#L25
monolog:
    channels: ['centreon', 'deprecation']
    handlers:
        system:
            type: error_log
            level: warning
            formatter: monolog.error.formater
            channels: ['!centreon']
        centreon:
            type: service
            id: monolog.debug.handler
            channels: ['centreon']
        deprecation:
            type: rotating_file
            path: "%kernel.logs_dir%/%kernel.environment%.deprecations.log"
            max_files: 2
            channels: [ deprecation ]
