@import '../../global-sass-files/variables';

// Action icons
.icon {
  &-action {
    display: inline-block;
    font-size: 25px;
    &-update {
      &:after {
        content: "\e911";
        color: #dcdcdc;
      }
      &.white {
        &:after {
          color: $white-color;
        }
      }
      &.gray {
        &:after {
          color: #cdcdcd;
        }
      }
    }
    &-add {
      &:after {
        content: "\e921";
        color: #dcdcdc;
      }
      &.white {
        &:after {
          color: $white-color;
        }
      }
      &.gray {
        &:after {
          color: #cdcdcd;
        }
      }
    }
    &-delete {
      &:after {
        content: "\e910";
        color: #dcdcdc;
      }
      &.white {
        &:after {
          color: $white-color;
        }
      }
      &.gray {
        &:after {
          color: #cdcdcd;
        }
      }
    }
    &-delete-white {
      &:after {
        content: "\e910";
        color: $white-color;
      }
    }
    &-clock {
      &:after {
        content: "\e914";
        color: #dcdcdc;
      }
      &.white {
        &:after {
          color: $white-color;
        }
      }
      &.gray {
        &:after {
          color: #cdcdcd;
        }
      }
    }
    &-check {
      &:after {
        content: "\e913";
        color: #dcdcdc;
      }
      &.white {
        &:after {
          color: $white-color;
        }
      }
      &.gray {
        &:after {
          color: #cdcdcd;
        }
      }
      &.green {
        &:after {
          color: $green-centreon-primary;
        }
      }
    }
    &-warning {
      &:after {
        content: "\e920";
        color: #dcdcdc;
      }
      &.white {
        &:after {
          color: $white-color;
        }
      }
      &.gray {
        &:after {
          color: #cdcdcd;
        }
      }
      &.red {
        &:after {
          color: $content-red-color;
        }
      }
    }
    &-arrow-right {
      &:after {
        content: "\e923";
        color: #dcdcdc;
      }
      &.white {
        &:after {
          color: $white-color;
        }
      }
      &.gray {
        &:after {
          color: #cdcdcd;
        }
      }
      &.red {
        &:after {
          color: $content-red-color;
        }
      }
    }
  }
}