// Close icon big
.icon {
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 31px;
    height: 31px;
    cursor: pointer;
    &-small {
      top: -10px;
      background: url('../../../img/icons/icon-close-small-stripe.png') no-repeat 0 0;
      width: 12px;
      height: 12px;
      &.error {
        background-position: 0 -77px;
      }
    }
    &-middle {
      background: url('../../../img/icons/icon-close-middle.png') no-repeat 50%;
    }
    &-big {
      background: url('../../../img/icons/icon-close-big.png') no-repeat 50%;
    }
  }
}