@import '../../global-sass-files/variables';

// Close icon big
.icon {
  &-close {
    display: inline-block;
    cursor: pointer;
    &:after {
      content: "\e915";
      color: #dcdcdc;
    }
    &.white {
      &:after {
        color: $white-color;
      }
    }
    &.gray {
      &:after {
        color: #cdcdcd;
      }
    }
    &-small {
      top: -10px;
      &.error {
        background-position: 0 -77px;
      }
    }
    &-middle {
      font-size: 28px;
    }
    &-big {
      font-size: 40px;
    }
  }
}