parameters:
  bootstrapFiles:
    - 'bootstrap.php'
  scanFiles:
    - 'vendor/centreon/centreon/www/include/common/common-Func.php'
  paths:
    - 'single-metric/'
  ignoreErrors:
    -
      message: '#Variable \$centreon_path might not be defined.#'
      path: single-metric/index.php
    -
      message: '#Variable \$dependencyInjector might not be defined.#'
      path: single-metric/index.php