includes:
    - ../tools/phpstan/config/common.neon
    - phpstan.core.baseline.neon

# custom rules added only for the src/Core directory
rules:
    - Tools\PhpStan\CustomRules\MiscRules\StringBackquotesCustomRule
    - Tools\PhpStan\CustomRules\ArchitectureRules\DomainCallNamespacesCustomRule
    - Tools\PhpStan\CustomRules\RepositoryRules\RepositoryImplementsInterfaceCustomRule
    - Tools\PhpStan\CustomRules\ArchitectureRules\FinalClassCustomRule
    - Tools\PhpStan\CustomRules\RepositoryRules\RepositoryNameCustomRule
    - Tools\PhpStan\CustomRules\RepositoryRules\RepositoryInterfaceNameCustomRule
    - Tools\PhpStan\CustomRules\RepositoryRules\RepositoryNameValidationByInterfaceCustomRule

parameters:
    level: 8
    paths:
        - src/Core
    ignoreErrors:

        - # [CENTREON-RULE]: (RepositoryNameCustomRule) Repository name must start with data storage prefix, which may be followed by 'Read' or 'Write' and context mention.
            reportUnmatched: false
            message: '#RepositoryNameCustomRule#'
            paths:
                - src/Core/Common/Infrastructure/Repository/AbstractRepositoryRDB.php
                - src/Core/Common/Infrastructure/Repository/DatabaseRepositoryManager.php
                - src/Core/Notification/Infrastructure/Repository/NotificationResourceRepositoryProvider.php

        - # [CENTREON-RULE]: (RepositoryInterfaceNameCustomRule) At least one Interface name must start with 'Read' or 'Write' and end with 'RepositoryInterface'.
            reportUnmatched: false
            message: '#RepositoryInterfaceNameCustomRule#'
            paths:
                - src/Core/Common/Infrastructure/Repository/DatabaseRepositoryManager.php
                - src/Core/Notification/Infrastructure/Repository/NotificationResourceRepositoryProvider.php

        - # [CENTREON-RULE]: The class is extended or mocked. MUST be used only as a baseline.
            reportUnmatched: false
            message: '#Class [\\\w]+ must be final.#'
            paths:
                - src/Core/Application/Common/UseCase/AbstractResponse.php  # <- BUG which need to be fixed in custom Rules
                - src/Core/Application/Common/UseCase/ErrorResponse.php
                - src/Core/Application/Common/UseCase/ForbiddenResponse.php
                - src/Core/Application/Common/UseCase/UnauthorizedResponse.php
                - src/Core/Application/Configuration/User/UseCase/FindUsers/FindUsers.php
                - src/Core/Contact/Application/UseCase/FindContactGroups/FindContactGroups.php
                - src/Core/Contact/Application/UseCase/FindContactTemplates/FindContactTemplates.php
                - src/Core/Security/AccessGroup/Application/UseCase/FindLocalUserAccessGroups/FindLocalUserAccessGroups.php
                - src/Core/Security/Authentication/Application/UseCase/LogoutSession/LogoutSession.php
                - src/Core/Security/ProviderConfiguration/Application/Local/UseCase/FindConfiguration/FindConfiguration.php
                - src/Core/Security/ProviderConfiguration/Application/Local/UseCase/UpdateConfiguration/UpdateConfiguration.php
                - src/Core/Security/ProviderConfiguration/Application/OpenId/UseCase/FindOpenIdConfiguration/FindOpenIdConfiguration.php
                - src/Core/Security/ProviderConfiguration/Application/OpenId/UseCase/UpdateOpenIdConfiguration/UpdateOpenIdConfiguration.php
                - src/Core/Security/ProviderConfiguration/Application/WebSSO/UseCase/FindWebSSOConfiguration/FindWebSSOConfiguration.php
                - src/Core/Security/ProviderConfiguration/Application/WebSSO/UseCase/UpdateWebSSOConfiguration/UpdateWebSSOConfiguration.php
                - src/Core/Security/User/Application/UseCase/RenewPassword/RenewPassword.php
                - src/Core/Tag/RealTime/Application/UseCase/FindTag/FindTagResponse.php
                - src/Core/Media/Application/UseCase/AddMedia/AddMedia.php
                - src/Core/Media/Application/UseCase/MigrateAllMedias/MigrateAllMedias.php
                - src/Core/Command/Application/UseCase/MigrateAllCommands/MigrateAllCommands.php
