includes:
    - ../php-tools/phpstan/config/common.neon
    - phpstan.legacy.www.baseline.neon

parameters:

    level: 0

    bootstrapFiles:
        - config/centreon.config.php.template

    scanFiles:
        - config/centreon.config.php.template
        - tests/phpstan_stubs/bootstrap.stub
        - tests/phpstan_stubs/legacy.stub

    paths:
        - www

    ignoreErrors:
        -   # Ignore path problems
            message: '#is not a file or it does not exist.#'

        -   # Ignore VariableLengthCustomRules errors for the legacy code
            message: '#\[CENTREON-RULE\]: \(VariableLengthCustomRule\) .* must contain 3 or more characters.#'
