parameters:
    bootstrapFiles:
        - config/centreon.config.php.template
    scanFiles:
        - config/centreon.config.php.template
        - tests/phpstan_stubs/bootstrap.stub
        - tests/phpstan_stubs/legacy.stub
    excludePaths:
        analyseAndScan:
            - src/Centreon/Tests
    level: max
    paths:
        - src
    ignoreErrors:
        - # Strict comparison using !== between 'VMWARE_V6' and 'VMWARE_V6' will always evaluate to false.
            reportUnmatched: false
            message: "#Strict comparison using !== between 'VMWARE_V6' and 'VMWARE_V6' will always evaluate to false.#"
            paths:
                - src/Core/AdditionalConnectorConfiguration/Application/UseCase/UpdateAcc/Validator.php
        - # Baseline: 👇 dealing with this code is almost impossible without spending hours.
            reportUnmatched: false
            path: src/CentreonRemote/Infrastructure/Service/ExportService.php
            message: '#^Trying to invoke int but it''s not a callable.$#'

        - # Baseline: 👇 leting this code is not risky, but fixing it, is too risky to my point of view.
            reportUnmatched: false
            path: src/Centreon/Application/Validation/Validator/UniqueEntityValidator.php
            messages:
                - '#^Negated boolean expression is always false.$#'
                - '#^Result of && is always false.$#'

services:
    errorFormatter.absolute:
        class: Centreon\PHPStan\AbsolutePathErrorFormatter
