parameters:
  bootstrapFiles:
    - config/centreon.config.php.template
  scanFiles:
    - config/centreon.config.php.template
    - tests/phpstan_stubs/bootstrap.stub
    - tests/phpstan_stubs/legacy.stub
  excludePaths:
    analyseAndScan:
      - src/Centreon/Tests
  level: 1
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests/php/Core
    - %currentWorkingDirectory%/tests/php/Centreon
    - %currentWorkingDirectory%/tests/php/Security
    - %currentWorkingDirectory%/tests/php/Utility
  ignoreErrors:
    -
      message: '#^Undefined variable: \$this$#'
      path: tests/php/
    -
      message: '#^Call to an undefined method Pest#'
      path: tests/php/
  reportUnmatchedIgnoredErrors: false
services:
  errorFormatter.absolute:
    class: Centreon\PHPStan\AbsolutePathErrorFormatter
