@import '../global-sass-files/variables';
// File Upload
.file {
  &-upload {
    &-title {
      color: $white-color;
      font-size: 13px;
      line-height: 17px;
      font-family: $primary-font-light;
      padding-left: 35px;
      position: relative;
      cursor: pointer;
      display: inline-block;
    }
    &-icon {
      background: url('../../img/icons/icon-file-upload.png') no-repeat 50%;
      width: 27px;
      height: 22px;
      display: inline-block;
      position: absolute;
      left: 0;
    }
    &-item {
      margin-bottom: 15px;
      position: relative;
      &-icon {
        display: inline-block;
        margin-right: 10px;
        width: 21px;
        height: 21px;
        background-size: contain;
        vertical-align: middle;
        &.file {
          background: url('../../img/icons/file-upload-file-stripe.png') no-repeat;
          &.success {
            background-position: 0 0;
          }
          &.warning {
            background-position: 0 -60px;
          }
          &.error {
            background-position: 0px -129px;
          }
        }
        &.zip {
          background: url('../../img/icons/file-upload-zip-stripe.png') no-repeat;
          &.success {
            background-position: 0 0;
          }
          &.warning {
            background-position: 0 -60px;
          }
          &.error {
            background-position: 0px -129px;
          }
        }
      }
      &-title {
        font-size: 12px;
        line-height: 15px;
        font-family: $primary-font-regular;
        &.success {
          color: $content-green-color;
        }
        &.warning {
          color: $content-gray-color;
        }
        &.error {
          color: $content-red-color;
        }
      }
      &-progress {
        height: 3px;
        display: block;
        width: 100%;
        margin-top: 3px;
        &.success {
          background-color: $content-green-color;
        }
        &.warning {
          background-color: $content-orange-color;
        }
        &.error {
          background-color: $content-red-color;
        }
      }
      &-info {
        font-size: 12px;
        line-height: 15px;
        font-family: $primary-font-regular;
        color: $content-green-color;
        float: right;
        padding-right: 20px;
        padding-top: 2px;
        &.success {
          color: $content-green-color;
        }
        &.warning {
          color: $content-gray-color;
        }
        &.error {
          color: $content-red-color;
        }
      }
      .icon-close {
        top: 3px;
      }
    }
  }
  
}