Source: centreon-widget-global-health
Section: net
Priority: optional
Maintainer: Luiz Costa <me@luizgustavo.pro.br>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://www.centreon.com

Package: centreon-widget-global-health
Architecture: all
Depends:    ${misc:Depends},
            ${shlibs:Depends},
            centreon-web
Description: Add homepage with Centreon Widgets
