includes:
    - ../php-tools/phpstan/config/common.neon

parameters:

    level: 6

    scanFiles:
        - .php-cs-fixer.conf.php
        - .php-cs-fixer.diff.php
        - .php-cs-fixer.legacy.php
        - rector.conf.php
        - rector.diff.php
        - rector.legacy.php

    paths:
        - features
        - www

    ignoreErrors:
        - # Ignore problem with path of centreon for modules
          message: '#^Path in require_once\(\) "../centreon/www/modules/#'
        - # Functions from centreon common-Func.php loaded at runtime
          message: '#^Function (createCSRFToken|isCSRFTokenValid|purgeCSRFToken|isServiceAccount) not found\.$#'