@import '../../global-sass-files/variables';

.message-info {
  font-family: $primary-font-regular;
  display: block;
  font-size: 13px;
  line-height: 17px;
  &.red {
    color: $content-red-color;
    font-size: 14px;
  }
}