@import "./variables";

.container {
  padding: 20px;
  &-gray {
    background-color: $gray-centreon-light;
    .container__col-md-3,
    .container__col-md-4,
    .container__col-sm-6,
    .container__col-md-9 {
      margin: 0;
    }
  }
  &-blue {
    background-color: $content-blue-color;
  }
  &-red {
    background-color: $content-red-color;
  }
}
.content {
  &-wrapper {
    padding: 12px 20px 0 20px;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    @media (max-width: 767px) {
      padding: 12px;
    }
  }
}

#content #fullscreen-wrapper {
  overflow: auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
  height: 100%;
}

.content {
  &-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &-inner {
    flex: 1;
    overflow: auto;
  }
  &-overflow {
    flex: 1;
    min-height: 0px;
  }
}