.container {
  &-gray {
    background-color: $gray-centreon-light;
  }
  &-blue {
    background-color: $content-blue-color;
  }
  &-red {
    background-color: $content-red-color;
  }
}
.content {
  &-wrapper {
    padding: 20px;
    box-sizing: border-box;
    max-width: 1035px;
    margin: 0 auto;
    @media (max-width: 767px) {
      padding: 12px;
    }
  }
}