.mb-2 {
  margin-bottom: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.mt-1 {
  margin-top: 10px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-25 {
  padding-top: 25px;
}
.pb-25 {
  padding-bottom: 25px;
}
.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}

// Text align
.text-left {
  text-align-last: left;
}
.text-right {
  text-align: right;
}

// Decorators
.red-decorater {
  color: $content-red-color;
}

// Background decorators
.blue-background-decorator {
  background-color: $content-blue-color;
}
.red-background-decorator {
  background-color: $content-red-color;
}

// Loading animation
.loading-animation{
  -webkit-animation: spinner 1s infinite linear;
  top: 20% !important;
}

@-webkit-keyframes spinner {
  0% {
     -webkit-transform: rotate3d(0, 0, 1, 0deg);
     -ms-transform: rotate3d(0, 0, 1, 0deg);
     -o-transform: rotate3d(0, 0, 1, 0deg);
     transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
     -webkit-transform: rotate3d(0, 0, 1, 180deg);
     -ms-transform: rotate3d(0, 0, 1, 180deg);
     -o-transform: rotate3d(0, 0, 1, 180deg);
     transform: rotate3d(0, 0, 1, 180deg);
  }
  100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
     -ms-transform: rotate3d(0, 0, 1, 360deg);
     -o-transform: rotate3d(0, 0, 1, 360deg);
     transform: rotate3d(0, 0, 1, 360deg);
  }
}

// Opacity
.half-opacity {
  opacity: .5;
}