@import '../global-sass-files/variables';

// Header
.header {
  background-color: #232f39;
  box-sizing: border-box;
  .wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrap {
    &.wrap-right {
      justify-content: flex-end;
      flex: 1 0 76%;
    }
  }
  .wrap-right {
    .submenu-header {
      &:last-child {
        .icons-wrap {
          margin: 0;
        }
      }
    }
  }
  .icon-user {
    &:before {
      font-size: 32px;
    }
  }
  .submenu-header {
    button.squared {
      margin: 10px 12px;
      font-size: .875rem;
    }
  }
}