@import '../global-sass-files/variables';

// Pagination
.pagination {
  display: inline-block;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
  a {
    color: #232f39;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    text-decoration: none;
    font-family: $primary-font-light;
    font-size: 12px;
    cursor: pointer;
    &.active, &:hover {
      color: #17387b;
      font-family: $primary-font-medium;
    }
    &:first-child {
      position: absolute;
      left: 0;
      & + span {
        transform: rotate(180deg);
      }
    }
    &:last-child {
      position: absolute;
      right: 0;
    }
  }
  .icon-action {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 20px;
    &:after {
      color: #232f39;
    }
  }
  span {
    position: relative;
    top: 7px;
    cursor: pointer;
  }
}