@import '../../global-sass-files/mixins';

// Icons generated
@font-face {
  font-family: 'icomoon';
  src:  url('../../global-sass-files/fonts/icomoon.eot');
  src:  url('../../global-sass-files/fonts/icomoon.eot') format('embedded-opentype'),
    url('../../global-sass-files/fonts/icomoon.ttf') format('truetype'),
    url('../../global-sass-files/fonts/icomoon.woff') format('woff'),
    url('../../global-sass-files/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Icons toggle
.icons-toggle {
  &-arrow {
    @include iconmoon();
    &:after {
      content: "\e90f";
      color: #dcdcdc;
    }
    display: inline-block;
    font-size: 28px;
    vertical-align: middle;
    cursor: pointer;
    right: 0;
    top: 13px;
  }
  &-position-right {
    position: absolute;
    top: 11px;
    right: 3px;
  }
  &-position-multiselect {
    position: absolute;
    top: 1px;
    right: 3px;
  }
  &-position-multiselect-table {
    position: absolute;
    top: -1px;
    right: 2px;
    font-size: 22px;
  }
  &-rotate {
    transform: rotate(180deg);
  }
}