@import '../../global-sass-files/mixins';

.icons-toggle {
  &-arrow {
    @include iconmoon();
    &:after {
      content: "\e90f";
      color: #dcdcdc;
    }
    display: inline-block;
    font-size: 28px;
    vertical-align: middle;
    cursor: pointer;
    right: 0;
    top: 13px;
  }
}