@import '../../global-sass-files/mixins';

// Icons toggle
.icons-toggle {
  &-arrow {
    @include iconmoon();
    &:after {
      content: "\e90f";
      color: #dcdcdc;
    }
    display: inline-block;
    font-size: 28px;
    vertical-align: middle;
    cursor: pointer;
    right: 0;
    top: 13px;
  }
  &-position-right {
    position: absolute;
    top: 11px;
    right: 3px;
  }
  &-position-multiselect {
    position: absolute;
    top: 1px;
    right: 3px;
  }
}