#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -Tdebian/substvars

override_dh_auto_build:
	sed -i 's#/etc/sysconfig#/etc/default#g' systemd/*.service