// Info state icon
.info {
  display: inline-block;
  top: 7px;
  right: 5px;
  width: 16px;
  height: 16px;
  &-state {
    background: url('../../../img/icons/icon-info-checked.png') no-repeat 50%;
  }
}