Source: centreon-widget-httploader
Section: net
Priority: optional
Maintainer: Centreon <contact@centreon.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://www.centreon.com

Package: centreon-widget-httploader
Architecture: all
Depends:    ${misc:Depends},
            ${shlibs:Depends},
            centreon-web (>= ${centreon:version}~),
            centreon-web (<< ${centreon:versionThreshold}~)
Description: Add homepage with Centreon Widgets
