@import '../../global-sass-files/variables';

// Textarea
.form {
  &-group {
    &.textarea {
      label {
        font-size: 12px;
        font-family: $primary-font-light;
        color: rgb(36,47,58);
        display: block;
        margin-bottom: 5px;
      }
      .form-control {
        resize: none;
        outline: none;
        padding: 5px 7px;
        box-sizing: border-box;
        font-size: 12px;
        font-family: $primary-font-regular;
        color: rgb(36,47,58);
        width: 100%;
        border: 1px solid #cdcdcd;
      }
      &.small {
        width: 300px;
      }
      &.middle {
        width: 300px;
        @media screen and(max-width: 1300px) {
          width: 100%;
        }
      }
      &.big {
        width: 100%;
      }
      &.has-danger {
        textarea {
          border: 1px solid #ad353b;
          color: #ad353b;
          &:hover, &:focus {
            border: 1px solid #ad353b;
            outline: #ad353b;
          }
          &:focus {
            box-shadow: 0 0 0 .4px #ad353b;
          }
        }
        .form-error {
          padding: 1px 0;
          box-sizing: border-box;
          color: $content-red-color;
          font-family: $primary-font-bold;
          font-size: 10px;
        }
        .input-select-wrap {
          &:after {
            background-color: #ad353b;
          }
        }
      }
    }
  }
}