  .bar {
  position: relative;
  margin: 0 6px;
  padding: 2px;
  height: 15px;
  text-align: center;
  } 
  .bar .progress-ok {
  background-color: #8FCF3C;                                                                                                                                                            
  height: 100%;
  display: block;
  } 
  .bar .progress-warning {
  background-color: #ff9a13;                                                                                                                                                            
  height: 100%;
  display: block;
  }
  .bar .progress-critical {
  background-color: #f6b6c5;                                                                                                                                                  
  height: 100%;
  display: block;
  }
  .bar .progress-unknown {
  background-color:         #bcbdc0;                                                                                                                                                   
  height: 100%;
  display: block;
  }
  .styleTable .stat {
   width : 30%;
  }
  .bar .percent {
  position: absolute;
  top: 3px;
  line-height: 15px;
  }
  .index {                                                                             
   width: 15px;
     text-align: center;
  }
  .title {
   text-align : center;
   line-height: 45px;
  }