@import '../global-sass-files/variables';

// Table
.table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  td, th {
    padding: .75rem;
    vertical-align: top;
    font-size: 13px;
    font-family: $primary-font-regular;
  }
  thead {
    background-color: $darkblue-centreon-darken;
    flex: 0 0 auto;
    width: 100%;
    display: table;
    table-layout: fixed;
    th {
      vertical-align: middle;
      padding: .45rem;
      color: $white-color;
      text-transform: uppercase;
    }
  }
  tbody {
    flex: 1 1 auto;
    display: block;
    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
      &:nth-of-type(even) {
        background-color: #f5f8fd;
      }
    }
    td {
      text-align: center;
      position: relative;
    }
  }
  .icon-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}