@import '../../global-sass-files/variables';

.icons {
  &-round {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    padding-top: 4px;
    box-sizing: border-box;
    margin: 0 6px;
    &.red {
      background-color: #ed1c24;
    }
    &.orange {
      background-color: #ff9913;
    }
    &.green {
      background-color: #87bd23;
    }
  }
}