Source: centreon-dsm
Section: net
Priority: optional
Maintainer: Centreon <contact@centreon.com>
Build-Depends: 
  debhelper-compat (=12),
  lsb-base,
  perl:native
Standards-Version: 4.5.0
Homepage: https://wwww.centreon.com

Package: centreon-dsm
Architecture: any
Description: This add-on is built to manage passive alerts into slots of alerts. Alerts are not defined
 into the configuration. This module give possibility to collect all alerts into a tray of
 events.
Depends:
  ${misc:Depends}, 
  ${shlibs:Depends},
  centreon-dsm-client (>= ${centreon:version}~),
  centreon-dsm-server (>= ${centreon:version}~)

Package: centreon-dsm-client
Architecture: any
Description: Centreon-dsm client package
Depends:
  ${misc:Depends}, 
  ${shlibs:Depends}

Package: centreon-dsm-server
Architecture: any
Description: Centreon-dsm server package
Depends:
  ${misc:Depends}, 
  ${shlibs:Depends},
  centreon-web (>= ${centreon:version}~)
