@import '../global-sass-files/variables';

.no-bottom-margin {
  margin-bottom:0 !important;
}
// Text field
.form {
  &-group {
    margin-bottom: 15px;
    label {
      font-size: 10px;
      font-family: $primary-font-light;
      color: rgb(36,47,58);
      display: block;
      margin-bottom: 5px;
    }
    .form-control {
      width: 100%;
      border-radius: 2px;
      border: 1px solid #cdcdcd;
      padding: 4px 10px;
      box-sizing: border-box;
    }
    &.has-danger {
      .form-control {
        border: 1px solid #ad353b;
        color: #ad353b;
        &:hover, &:focus {
          border: 1px solid #ad353b;
          outline: #ad353b;
        }
        &:focus {
          box-shadow: 0 0 0 .4px #ad353b;
        }
      }
      .form-error {
        padding: 1px 0;
        box-sizing: border-box;
        color: $content-red-color;
        font-family: $primary-font-bold;
        font-size: 10px;
      }
    }
    &.smallest {
      width: 100px;
    }
    &.small {
      width: 200px;
    }
    &.middle {
      width: 300px;
      @media screen and(max-width: 1300px) {
        width: 100%;
      }
    }
    &.big {
      width: 100%;
    }
  }
}