version: "3"
services:
  web:
    env_file:
      - .env
    volumes:
      - shared-volume:/tmp/shared-volume
    image: "${WEB_IMAGE}"
    ports: ["4000:80"]
    depends_on:
      - db
      - vault
    environment:
      MYSQL_HOST: db
    healthcheck:
      test: bash -c "[ -f /tmp/docker.ready ]" && curl --fail http://localhost/centreon/api/latest/platform/versions || exit 1
      interval: 1s
      retries: 60
      timeout: 5s

  db:
    env_file:
      - .env
    image: "${MYSQL_IMAGE}"
    ports: ["3306"]
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 300M
        reservations:
          cpus: '0.25'
          memory: 100M

  openid:
    env_file:
      - .env
    image: "${OPENID_IMAGE}"
    ports: ["8080:8080"]
    profiles: ["openid"]

  saml:
    env_file:
      - .env
    image: "${SAML_IMAGE}"
    ports: ["8080:8080"]
    profiles: ["saml"]

  openldap:
    image: docker.centreon.com/centreon/mon-openldap:latest
    ports: ["389"]
    profiles: ["openldap"]

  squid-simple:
    image: docker.centreon.com/centreon/mon-squid-simple:latest
    ports: ["3128"]
    profiles: ["squid-simple"]

  squid-basic-auth:
    image: docker.centreon.com/centreon/mon-squid-basic-auth:latest
    ports: ["3128"]
    profiles: ["squid-basic-auth"]

  mediawiki:
    image: docker.centreon.com/centreon/mon-mediawiki-22.10:latest
    ports: ["80"]
    profiles: ["mediawiki"]

  vault:
    build:
      context: .
      dockerfile: vault/Dockerfile
    volumes:
      - shared-volume:/tmp/shared-volume
    image: hashicorp/vault:latest
    env_file:
      - .env
    ports: ["8200"]

volumes:
  shared-volume:
    driver: "local"
