@import '../../global-sass-files/variables';
// Add icons
.content-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  &-add {
    background: url('../../../img/icons/icon-add.png') no-repeat 50%;
    &-green {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $content-green-color;
      background-size: 25px;
      cursor: pointer;
      display: block;
      z-index: 9;
    }
  }
  
  &-update {
    background: url('../../../img/icons/icon-button-update.png') no-repeat 50%;
  }
  
}