@import '../../global-sass-files/variables';
@import '../../global-sass-files/mixins';

// Add icons
.content-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  &-add {
    @include iconmoon();
    font-size: 40px;
    position: relative;
    &:after {
      content: "\e921";
      color: #ffffff;
      @include centerAbsolute();
    }
    &.gray {
      &:after {
        color: #606060;
      }
    }
    &.white {
      &:after {
        color: $white-color;
      }
    }
    &-green {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $content-green-color;
      background-size: 25px;
      cursor: pointer;
      display: block;
      z-index: 99;
    }
  }
  
  &-update {
    background: url('../../../img/icons/icon-button-update.png') no-repeat 50%;
  }
  
}