@import '../../global-sass-files/variables';
@import '../../global-sass-files/mixins';
@import '../../global-sass-files/helpers';
@import '../../global-sass-files/grid';

// Extensions popup
.popup { 
  // display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  overflow: hidden;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  &-dialog {
    margin: 20px;
    position: relative;
    width: auto;
    z-index: 98;
    @media (min-width: 840px) {
      margin: 20px auto;
    }
    @media (max-width: 840px) {
      margin: 20px 30px;
    }
  }
  &-header, &-body, &-footer {
    padding: 20px;
  }
  &.popup-small {
    .popup-header, .popup-body, .popup-footer {
      padding: 15px 20px;
    }
    .popup-body {
      padding: 5px 25px;
    }
    &.scroll {
      .popup-body {
        max-height: 350px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background: #949494;
        }
        &::-webkit-scrollbar-track {
          border-radius: 5px;
          background: #d1d1d1;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: linear-gradient(left, #8391A6, #536175);
        }
      }
      &.host {
        .popup-body {
          padding: 50px 25px 10px 25px;
        }
      }
    }
    @media (min-width: 576px) {
      .popup-dialog {
        max-width: 380px;
        width: 100%;
        @include centerAbsolute();
      }
    }
    .popup-footer {
      &.m-0 {
        .message-error {
          margin-top: 0;
        }
      }
    }
  }
  &.popup-big {
    .popup-header, .popup-body, .popup-footer {
      padding: 25px 80px;
      @media (max-width: 700px) {
        padding: 10px 20px;
      }
    }
    @media (min-width: 576px) {
      .popup-dialog {
        max-width: 780px;
      }
    }
  }
  &-title {
    font-size: 16px;
    line-height: 18px;
    font-family: $primary-font-light;
    color: #000;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin: 0;
    padding-right: 35px;
  }
  &-header {
    .icon-close-small, .icon-close-middle, .icon-close-big {
      right: -45px;
      position: absolute;
      right: -33px;
      top: -5px;
      @media (max-width: 900px){
        width: 20px;
        height: 20px;
        right: -25px;
        background-size: cover;
      }
    }
  }
  &-content {
    position: relative;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    outline: 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #707070;
    padding-bottom: 25px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  }
  &-body {
    text-align: center;
  }
  &-info {
    font-size: 11px;
    line-height: 18px;
    font-family: $primary-font-bold;
    color: #000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 97;
    background-color: #233039;
    opacity: .6;
  }
}