@import '../global-sass-files/variables';
@import '../global-sass-files/mixins';
@import '../global-sass-files/helpers';
@import '../global-sass-files/grid';

// Extensions panel
.panels {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  max-width: 1063px;
  z-index: 90;
  width: 0;
  z-index: -1;
  &-dialog {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  &-inner {
    position: absolute;
    right: -100%;
    height: 100%;
    width: 100%;
  }
  &-header-input {
    background: none;
    font-family: 'Roboto Regular';
    font-weight: bold;
    display: inline-block;
    border: none;
    font-size: 20px;
    vertical-align: middle;
    width: 100%;
    &:focus {
      outline: none;
    }
    &:hover {
      background: #c2c3c6;
    }
    &.has-error{
      color:red;
      &::placeholder {
        color: red;
        opacity: 1;
      }
      
      &:-ms-input-placeholder {
        color: red;
      }
      
      &::-ms-input-placeholder {
        color: red;
      }
    }
  }
  &-body {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    padding-top: 49px;
  }
  &.panels-small {
    .panel-header, .panel-body, .panel-footer {
      padding: 20px;
    }
    .panel-body {
      padding: 5px 25px;
    }
    @media (min-width: 576px) {
      .panel-dialog {
        max-width: 300px;
        width: 100%;
        @include centerAbsolute();
      }
    }
    .panel-footer {
      &.m-0 {
        .message-error {
          margin-top: 0;
        }
      }
    }
  }
  &.panels-big {
    .panel-header, .panel-body, .panel-footer {
      padding: 25px 80px;
      @media (max-width: 700px) {
        padding: 10px 20px;
      }
    }
    @media (min-width: 576px) {
      .panel-dialog {
        max-width: 780px;
      }
    }
  }
  &-header {
    padding-right: 140px;
    padding-left: 20px;
    background-color: #ededed;
    z-index: 9;
    position: absolute;
    min-width: 560px;
    right: 0;
    width: 560px;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
    box-sizing: border-box;
    z-index: 10;
  }
  &-content {
    position: relative;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    outline: 0;
    box-sizing: border-box;
  }
  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .7;
  }
  &-arrow {
    background-color: #ededed;
    border: 1px solid #D6D6D8;
    border-top: none;
    border-bottom: none;
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    right: -20px;
    top: 1px;
    box-sizing: border-box;
    cursor: pointer;
    svg {
      position: absolute;
      width: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 15px;
    }
  }
  &-active {
    width: 563px;
    z-index: 90;
    transition: 0.2s ease-in;
    .panels {
      &-inner {
        right: 0;
        transition: 0.2s ease-in;
      }
    }
  }
  &-second-active {
    width: 100%;
    .panels-header {
      width: 1060px;
    }
  }
}