parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Pest\\Expectation\|Pest\\Support\\Extendable\:\:toBeInstanceOf\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$isActivated on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$providers on mixed\.$#'
			identifier: property.nonObject
			count: 4
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$repository on mixed\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$requestParameters on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$type on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot access property \$useCase on mixed\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot call method createMock\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot call method expects\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot call method getMessage\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot call method method\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot call method once\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot call method willReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Cannot call method willThrowException\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Parameter \$repository of class CentreonOpenTickets\\Providers\\Application\\UseCase\\FindProviders constructor expects CentreonOpenTickets\\Providers\\Application\\Repository\\ReadProviderRepositoryInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Parameter \$requestParameters of class CentreonOpenTickets\\Providers\\Application\\UseCase\\FindProviders constructor expects Centreon\\Domain\\RequestParameters\\Interfaces\\RequestParametersInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Trying to invoke mixed but it''s not a callable\.$#'
			identifier: callable.nonCallable
			count: 2
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 11
			path: tests/php/CentreonOpenTickets/Providers/Application/UseCase/FindProviders/FindProvidersTest.php
