includes:
    - ../tools/phpstan/config/common.neon
    - phpstan.legacy.test.baseline.neon

parameters:

    level: max

    paths:
        - tests/php/CentreonOpenTickets

    ignoreErrors:

        - # To ignore errors in the tests/php directory because of Pest
            path: tests/php
            messages:
                - '#^Undefined variable: \$this$#'
                - '#^Call to an undefined method Pest#'
                - '#^Access to an undefined property PHPUnit#'
