includes:
    - ../tools/phpstan/config/common.neon

parameters:

    level: max

    scanFiles:
        - ../tools/phpstan/config/centreon.stub
        - .php-cs-fixer.legacy.www.php
        - rector.legacy.php

    paths:
        - src/CentreonOpenTickets