#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -Tdebian/substvars

override_dh_clean:

override_dh_auto_build:
	sed -i 's#"apache"#"www-data"#g' packaging/src/install.conf.php
	sed -i 's#"apache"#"www-data"#g' packaging/src/instCentWeb.conf
	sed -i 's#"apache"#"www-data"#g' packaging/src/instCentPlugins.conf
	sed -i "s#@PHPFPM_LOGFILE@#/var/log/php8.1-fpm-centreon-error.log#g" packaging/src/php-fpm.conf
	find . -type f -not -path "./vendor/*" | \
		grep -v packaging/src/centreon-macroreplacement.txt | \
		xargs -d '\n' sed -i -f packaging/src/centreon-macroreplacement.txt
	mv config/centreon.config.php.template config/centreon.config.php
