// Scrollbar
.scrollbar {
  &-container {
    max-height: 350px;
    .ps__rail-y {
      left: auto !important;
      width: 8px;
      &:hover, &:focus {
        & > .ps__thumb-y {
          width: 8px;
          right: 0;
        }
      }
      &.ps--clicking {
        .ps__thumb-y {
          width: 8px;
          right: 0;
        }
      }
    }
  }
}