// Scrollbar
.scrollbar {
  &-container {
    max-height: 350px;
    .ps__rail-y {
      left: auto !important;
      width: 8px;
      &:hover, &:focus {
        & > .ps__thumb-y {
          width: 8px;
          right: 0;
        }
      }
      &.ps--clicking {
        .ps__thumb-y {
          width: 8px;
          right: 0;
        }
      }
    }
    &.big {
      width: 100% !important;
      max-height: 368px;
    }
    div:last-child {
      left: auto !important;
      right: 0 !important;
    }
    &-custom {
      box-sizing: border-box;
      padding-top: 10px;
      bottom: 10px;
      padding-left: 1px;
    }
  }
}