@import '../../global-sass-files/variables';

.custom-multiple {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  &-icon {
    width: 28px;
    height: auto;
    background-size: contain;
  }
  &-text {
    font-size: 11px;
    line-height: 12px;
    color: #242f3a;
    font-family: $primary-font-light;
    text-overflow: ellipsis;
  }
}