@import '../global-sass-files/variables';
@import '../global-sass-files/fonts';
// Custom title
.custom-title {
  font-size: 15px;
  margin: 0;
  margin-bottom: 5px;
  color: $content-blue-color;
  font-family: $primary-font-light;
  position: relative;
  &-blue {
    color: #0072aa;
  }
  &-heading {
    padding-left: 50px;
    .custom-title-icon {
      position: absolute;
      left: -55px;
    }
    .custom-title-label {
      padding-left: 0 !important;
    }
  }
  &-icon {
    width: 51px;
    height: 51px;
    position: absolute;
    left: 0;
    top: 0;
    &-puzzle {
      background: url('../../img/icons/icon-title-puzzle.png') no-repeat 50%;
    }
    &-object {
      background: url('../../img/icons/icon-title-object.png') no-repeat 50%;
    }
    & + .custom-title-label {
      padding-left: 56px;
      min-height: 51px;
      display: inline-block;
    }
  }
  &.image {
    padding-left: 65px;
    .custom-title-icon {
      left: 0;
    }
  }
}