@import '../../global-sass-files/variables';

.panel-item {
  position: relative;
  &-small {
    width: 500px;
    background-color: #c7c8c9;
    display: none;
    .panel-item-title {
      text-align: center;
      font-family: $primary-font-regular;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid;
    }
    .panel-item-inner {
      padding: 20px;
    }
  }
  &-big {
    width: 540px;
    margin-right: 20px;
    background-color: #ededed;
  }
  &-show {
    display: block;
  }
  &-inner {
    overflow-y: auto;
    max-height: 700px;
  }
}