@import "../../global-sass-files/variables";

.panel-item {
  position: relative;
  border-left: 1px solid #d1d2d4;
  &-small {
    width: 550px;
    background-color: #c7c8c9;
    position: absolute;
    right: -45%;
    z-index: 1;
    .panel-item-title {
      text-align: center;
      font-family: $primary-font-regular;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid;
    }
    .panel-item-inner {
      padding: 20px;
      box-sizing: border-box;
    }
  }
  &-big {
    width: 540px;
    background-color: #ededed;
    position: absolute;
    right: 0;
    margin-right: 20px;
    z-index: 9;
  }
  &-show {
    right: 0;
    &-big {
      right: 550px;
      width: 490px;
      transition: 0.1s ease-in-out;
    }
  }
  &-inner {
    overflow-y: auto;
    height: calc(100vh - 104px);
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
