@import '../global-sass-files/variables';
@import '../global-sass-files/fonts';
// Extensions subtitle
.custom-subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  color: #999696;
  font-family: $primary-font-light;
  cursor: pointer;
}