  .bar {
  position: relative;
  margin: 0 6px;
  padding: 2px;
  height: 15px;
  border: 0.5px solid black;
  text-align: center;
  }
  .bar .progress {
    background-color: #8FCF3C;                                                                                                                                                            
    height: 100%;
    display: block;
  }
  .styleTable .stat {
   width : 30%;
}
  .bar .percent {
  position: absolute;
  top: 3px;
  line-height: 15px;
  }
  .index {
    background-color: #C8E8C0;                                                                             
  }