:root {
    --color-martar: #555;
    --color-black: #000;
    --color-white: #fff;
    --color-cloudy: #b2aca2;
    --color-warning : #FD9B27 ;
    --color-ok : #88B922 ;
    --color-critical : #FF6666 ;
}
