@import '../../global-sass-files/variables';

.multi-select {
  display: block;
  &-input {
    border: none;
    background-color: #dfdfdf;
    padding: 5px 20px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &-empty {
    position: relative;
    width: 45px;
    background-color: #dfdfdf;
    height: 25px;
    border-radius: 20px;
    &:after {
      position: absolute;
      content: "...";
      left: 14px;
      right: 0px;
      top: -6px;
      font-size: 23px;
    }
  }
}