@import "color-variables.css";

:root {
    --metric-links-font-color: var(--color-martar);
    --state-ok-font-color: var(--color-green);
    --state-warning-font-color: var(--color-orange);
    --state-critical-font-color: var(--color-red);
    --metric-coloring-font-color: var(--color-black);
}