@import '../global-sass-files/variables';
@import '../global-sass-files/fonts';
@import '../global-sass-files/mixins';
@import '../global-sass-files/helpers';
@import '../global-sass-files/grid';
// Extensions popup
.popup { 
  // display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  &-dialog {
    margin: 20px;
    position: relative;
    width: auto;
    @media (min-width: 840px) {
      margin: 20px auto;
    }
    @media (max-width: 840px) {
      margin: 20px 30px;
    }
  }
  &.popup-small {
    .popup-header, .popup-body, .popup-footer {
      padding: 25px;
    }
    @media (min-width: 576px) {
      .popup-dialog {
        max-width: 300px;
        width: 100%;
        @include centerAbsolute();
      }
    }
  }
  &.popup-big {
    .popup-header, .popup-body, .popup-footer {
      padding: 25px 80px;
      @media (max-width: 700px) {
        padding: 10px 20px;
      }
    }
    @media (min-width: 576px) {
      .popup-dialog {
        max-width: 780px;
      }
    }
  }
  &-header {
    .icon-close-small, .icon-close-middle, .icon-close-big {
      right: -45px;
      @media (max-width: 900px){
        width: 20px;
        height: 20px;
        right: -25px;
        background-size: cover;
      }
    }
  }
  &-content {
    position: relative;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    outline: 0;
    box-sizing: border-box;
  }
  &-message {
    font-family: $primary-font-regular;
    display: block;
    font-size: 13px;
    line-height: 17px;
    &.red {
      color: $content-red-color;
      font-size: 14px;
    }
  }
  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .7;
  }
}