/*
 * Copyright 2005-2011 Centreon
 * Centreon is developped by : Julien Mathis and Romain Le Merlus under
 * GPL Licence 2.0.
 * 
 * This program is free software; you can redistribute it and/or modify it under 
 * the terms of the GNU General Public License as published by the Free Software 
 * Foundation ; either version 2 of the License.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A 
 * PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with 
 * this program; if not, see <http://www.gnu.org/licenses>.
 * 
 * Linking this program statically or dynamically with other modules is making a 
 * combined work based on this program. Thus, the terms and conditions of the GNU 
 * General Public License cover the whole combination.
 * 
 * As a special exception, the copyright holders of this program give Centreon 
 * permission to link this program with independent modules to produce an executable, 
 * regardless of the license terms of these independent modules, and to copy and 
 * distribute the resulting executable under terms of Centreon choice, provided that 
 * Centreon also meet, for each linked independent module, the terms  and conditions 
 * of the license of that module. An independent module is a module which is not 
 * derived from this program. If you modify this program, you may extend this 
 * exception to your version of the program, but you are not obliged to do so. If you
 * do not wish to do so, delete this exception statement from your version.
 * 
 * For more information : contact@centreon.com
 * 
 */

body {
	font-family: 'open sans', Arial, Verdana, Helvetica, sans-serif;
	margin: 0px;
	background-color: rgb(153, 153, 153);
	/* background-color: rgba(0, 0, 0, 0.12); */
	/* background-color : #a7a9ac; */
	color : #333333;
	height: auto;
	}

tr,td,th,table {
	vertical-align: top;
}

p {
	margin-top: 0px;
	margin-bottom: 10px;
}

hr  {
	color: #888888;
	width: 100%;
	height: 1px;
	margin: 0px;
	}

a:link, a:visited {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}

.field_msg a:link {
    font-size: 11px;
}

a:hover {
	color: #0072ce;
	text-decoration: none;
	}

input,select {
	border: 1px solid #888888;
	font-size: 11px;
	background-color: #ffffff;
	}

textarea {
	border: 1px solid #888888;
	color: #222222;
	font-size: 11px;
	background-color: #ffffff;
	}

.checkbox {
	border:0px;
	background-color: transparent;
	}

.button {
	border: 1px solid #888888;
	font-size: 12px;
	color: #ffffff;
	background-color: #444444;
	font-weight: bold;
	cursor: pointer;
	}
/* custom */

.bt_back_install {
    background: none !important;
    color: var(--color-mine-shaft) !important;
}

table.shell {
	padding: 0px;
	/* border: 1px solid #fff; */
	height: 300px;
	margin: 60px auto;
	width: 650px;
	/* box-shadow: 0px 0px 0px 1px #818285; */

	/*
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 10px;
	*/

	/* border: 1px solid black; */
}

table.shell .install-header {
	background-color: rgb(255, 255, 255);
	/* background-color: #dddddd; */
	height: 80px;
}

table.shell .step-wrapper {
	width: 40%;
}

table.shell .step-wrapper h3 {
	color: #8a8a8a;
	font-weight: normal;
	margin: 12px 0;
}

table.shell .step-wrapper h3 span {
	font-size: 42px;
	vertical-align: middle;
}

table.shell .logo-wrapper {
	padding: 9px 20px;
}

table.shell th {
	text-align: left;
	border-bottom: 1px solid #fff;
}

table.shell td {
	/* padding: 6px; */
	padding: 6px 18px;
	background-color: rgb(255, 255, 255);
	/* background-color: #d6d5d5; */
}

table.shell tr:first-child th:first-child {
    border-top-left-radius: 4px;
}

table.shell tr:first-child th:last-child {
    border-top-right-radius: 4px;
}

table.shell tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}

table.shell tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

table.shell .install-body {
	background-color: rgb(255, 255, 255);
	/* background-color: #e7e7e8; */
}

table.shell input {
	font-size: 12px;
}

table.shell input.bt_default, input.bt_back_install {
	background-color: transparent !important;
	color: rgb(46, 104, 170) !important;
}

table.shell input.bt_default:hover, input.bt_back_install:hover {
	background-color: rgba(46, 104, 170, 0.06) !important;
}

table.shell input.bt_info, input.bt_success {
	background-color: rgb(46, 104, 170) !important;
	color: rgb(255, 255, 255) !important;
}

table.shell input.bt_info:hover, input.bt_success:hover {
	background-color: rgb(37, 88, 145) !important;
}

table.shell input.bt_info:disabled, input.bt_success:disabled {
	background-color: rgba(0, 0, 0, 0.12) !important;
	color: rgb(153, 153, 153) !important;
}

table.stdTable {
	font-size: 14px;
}

table.stdTable td {
	padding: 2px;
}
table.stdTable th {
	padding: 2px;
}

table.stdTable td.install-step-status {
	font-weight: bold;
	margin: -4px;
}

table.StyleDottedHr tr:first-child th:first-child {
	border-top-left-radius: 0px;
}

table.StyleDottedHr tr:first-child th:last-child {
	border-top-right-radius: 0px;
}

table.StyleDottedHr th {
	padding: 8px;
	background-color: rgb(102, 102, 102);
	color: rgb(255, 255, 255);
	font-size: 14px;
}

table.StyleDottedHr td {
	border-radius: 0px;
	border-bottom: 1px solid #cccccc;
	padding: 4px 8px;
}



.small {
	font-size: 10px;
	}
.small_warning {
	color: #DE9F25;
	font-size: 10px;
	}
.stop {
	color: #cc0000;
	}
.warning {
	color: #DE9F25;
	}
.go {
	color: #00cc00;
	}
.required,.field_msg {
	color: #e00b3d;
	font-weight: bold;
	}

#troubleshoot {
    color: #e00b3d;
    font-weight: normal;
}
.link-group {
	width: max-content;
	margin-bottom: 0px;
	padding: 5px 2px;
}

.link-group b {
	margin-left: 52px;
}