@import '../../global-sass-files/variables';

// Table dynamic
.table-dynamic {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: 1px solid #e6e6e6;
  td, th {
    padding: 5px 15px;
    vertical-align: middle;
    font-size: 13px;
    font-family: $primary-font-regular;
  }
  thead {
    background-color: #009fdf;
    flex: 0 0 auto;
    width: 100%;
    display: table;
    table-layout: fixed;
    th {
      vertical-align: middle;
      padding: 5px;
      color: $white-color;
      text-transform: uppercase;
      width: 50%;
      &:first-child {
        border-right: 1px solid #e6e6e6;
      }
    }
  }
  tbody {
    flex: 1 1 auto;
    display: block;
    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
      &:nth-of-type(odd) {
        background-color: #e5f5fc;
      }
      td {
        &:first-child {
          border-right: 1px solid #e6e6e6;
        }
      }
    }
    td {
      text-align: center;
      position: relative;
    }
  }
  .icon-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .form-group {
    margin: 0;
  }
  .custom-control {
    min-height: 0;
  }
  .container__col-md-3, .container__col-md-6 {
    margin-bottom: 0;
  }
  .search-live {
    input {
      margin: 0;
      padding: 5px 10px;
      height: 30px;
    }
    label {
      margin: 0;
    }
  }
  .custom-control-label {
    margin-bottom: 0;
  }
}