@import '../LoaderContent/loader-content';

.loader.full-relative-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: white;
    right: 0;
    z-index: 9999;
}

.full-relative-content .loader-inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}