name: awie

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/awie.yml"
      - "awie/**"
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/awie.yml"
      - "awie/**"
    tags:
      - centreon-awie-*

env:
  module: "awie"
  
jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
    with: 
      version_file: www/modules/centreon-awie/conf.php

  package:
    needs: [get-version]
    runs-on: [self-hosted, common]
    
    strategy:
      fail-fast: true
      matrix:
        include:
          - package_extension: rpm
            image: packaging-centos7
            distrib: el7
          - package_extension: rpm
            image: packaging-alma8
            distrib: el8
          - package_extension: deb
            image: packaging-bullseye
            distrib: bullseye

    uses: ./.github/workflows/package.yml
    with:
      base_directory: centreon-awie
      spec_file: centreon-awie/packaging/centreon-awie.spectemplate
      package_extension: ${{ matrix.package_extension }}
      image_name: ${{ matrix.image }}
      module_name: ${{ env.module }}
      major_version: ${{ needs.get-version.outputs.major_version }}
      minor_version: ${{ needs.get-version.outputs.minor_version }}
      release: ${{ needs.get-version.outputs.release }}
      cache_key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
    secrets:
      artifactory_username: ${{ secrets.ARTI_USER }}
      artifactory_password: ${{ secrets.ARTI_PASSWD }}          

  delivery-rpm:
    needs: [get-version, package]
    runs-on: [self-hosted, common]
    strategy:
      matrix:
        include:
          - module_name: awie
            distrib: el7
          - module_name: awie
            distrib: el8
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/rpm-delivery.yml
        with:
          module_name: ${{ matrix.module_name }}
          distrib: ${{ matrix.distrib }}
          version: ${{ needs.get-version.outputs.major_version }}
          nexus_username: ${{ secrets.ARTI_USER }}
          nexus_password: ${{ secrets.ARTI_PASSWD }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-rpm-${{ matrix.distrib }}

  delivery-deb:
    needs: [get-version, package]
    runs-on: [self-hosted, common]
    strategy:
      matrix:
        include:
          - module_name: awie
            distrib: [bullseye]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/deb-delivery.yml
        with:
          module_name: ${{ matrix.module_name }}
          distrib: ${{ matrix.distrib }}
          version: ${{ needs.get-version.outputs.major_version }}
          nexus_username: ${{ secrets.ARTI_USER }}
          nexus_password: ${{ secrets.ARTI_PASSWD }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-deb-${{ matrix.distrib }}

