name: awie

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - ".version.centreon-awie"
      - "centreon-awie/**"
      - "!centreon-awie/features/**"
      - "!centreon-awie/behat.yml"
  push:
    branches:
      - develop
      - dev-[2-9][0-9].[0-9][0-9].x
      - master
      - "[2-9][0-9].[0-9][0-9].x"
    paths:
      - ".version.centreon-awie"
      - "centreon-awie/**"
      - "!centreon-awie/features/**"
      - "!centreon-awie/behat.yml"

env:
  module: awie

jobs:
  get-environment:
    uses: ./.github/workflows/get-environment.yml
    with:
      version_file: centreon-awie/www/modules/centreon-awie/conf.php

  changes:
    needs: [get-environment]
    runs-on: ubuntu-22.04
    outputs:
      has_backend_changes: ${{ steps.filter.outputs.has_backend_changes }}
      has_test_changes: ${{ steps.filter.outputs.has_test_changes }}
      trigger_delivery: ${{ steps.changes_trigger_checks.outputs.trigger_delivery }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            has_backend_changes:
              - 'centreon-awie/*.php'
              - 'centreon-awie/!(features)/*.php'
              - 'centreon-awie/phpstan*'
              - 'centreon-awie/ruleset.xml'
              - 'centreon-awie/libinstall/**'
              - 'centreon-awie/www/modules/centreon-awie/**'
            has_test_changes:
              - 'centreon-awie/features/**'

      - uses: ./.github/actions/changes-trigger-checks
        id: changes_trigger_checks
        with:
          has_frontend_changes: 'false'
          has_backend_changes: ${{ steps.filter.outputs.has_backend_changes }}
          has_test_changes: ${{ steps.filter.outputs.has_test_changes }}

  package:
    needs: [get-environment]

    if: ${{ needs.get-environment.outputs.skip_workflow == 'false' && needs.get-environment.outputs.stability != 'stable' }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - package_extension: rpm
            image: packaging-alma8
            distrib: el8
          - package_extension: rpm
            image: packaging-alma9
            distrib: el9
          - package_extension: deb
            image: packaging-bullseye
            distrib: bullseye

    uses: ./.github/workflows/package.yml
    with:
      base_directory: centreon-awie
      spec_file: centreon-awie/packaging/centreon-awie.spectemplate
      package_extension: ${{ matrix.package_extension }}
      distrib: ${{ matrix.distrib }}
      image_name: ${{ matrix.image }}
      module_name: awie
      major_version: ${{ needs.get-environment.outputs.major_version }}
      minor_version: ${{ needs.get-environment.outputs.minor_version }}
      release: ${{ needs.get-environment.outputs.release }}
      commit_hash: ${{ github.sha }}
      cache_key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
    secrets:
      registry_username: ${{ secrets.HARBOR_CENTREON_PULL_USERNAME }}
      registry_password: ${{ secrets.HARBOR_CENTREON_PULL_TOKEN }}
      registry_private_username: ${{ secrets.HARBOR_CENTREON_PRIVATE_USERNAME }}
      registry_private_token: ${{ secrets.HARBOR_CENTREON_PRIVATE_TOKEN }}

  deliver-sources:
    runs-on: centreon-common
    needs: [get-environment, package]
    if: ${{ needs.get-environment.outputs.skip_workflow == 'false' && contains(fromJson('["stable"]'), needs.get-environment.outputs.stability) && github.event_name != 'workflow_dispatch' && github.repository == 'centreon/centreon' }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Deliver sources
        uses: ./.github/actions/release-sources
        with:
          bucket_directory: centreon-awie
          module_directory: centreon-awie
          module_name: centreon-awie
          major_version: ${{ needs.get-environment.outputs.major_version }}
          minor_version: ${{ needs.get-environment.outputs.minor_version }}
          token_download_centreon_com: ${{ secrets.TOKEN_DOWNLOAD_CENTREON_COM }}

  deliver-rpm:
    needs: [changes, get-environment, package]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      contains(fromJson('["testing", "unstable"]'), needs.get-environment.outputs.stability) &&
      needs.changes.outputs.trigger_delivery == 'true' &&
      github.repository == 'centreon/centreon'
    runs-on: centreon-common

    strategy:
      matrix:
        distrib: [el8, el9]

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Delivery
        uses: ./.github/actions/rpm-delivery
        with:
          module_name: awie
          distrib: ${{ matrix.distrib }}
          version: ${{ needs.get-environment.outputs.major_version }}
          artifactory_token: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-rpm-${{ matrix.distrib }}
          stability: ${{ needs.get-environment.outputs.stability }}
          release_type: ${{ needs.get-environment.outputs.release_type }}
          is_cloud: ${{ needs.get-environment.outputs.is_cloud }}

  deliver-deb:
    needs: [changes, get-environment, package]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      contains(fromJson('["testing", "unstable"]'), needs.get-environment.outputs.stability) &&
      needs.changes.outputs.trigger_delivery == 'true' &&
      github.repository == 'centreon/centreon'
    runs-on: centreon-common

    strategy:
      matrix:
        distrib: [bullseye]

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Delivery
        uses: ./.github/actions/deb-delivery
        with:
          module_name: awie
          distrib: ${{ matrix.distrib }}
          version: ${{ needs.get-environment.outputs.major_version }}
          artifactory_token: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-deb-${{ matrix.distrib }}
          stability: ${{ needs.get-environment.outputs.stability }}
          release_type: ${{ needs.get-environment.outputs.release_type }}
          is_cloud: ${{ needs.get-environment.outputs.is_cloud }}

  promote:
    needs: [get-environment, deliver-rpm, deliver-deb]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      (contains(fromJson('["stable", "testing"]'), needs.get-environment.outputs.stability) && github.event_name != 'workflow_dispatch') &&
      ! cancelled() &&
      ! contains(needs.*.result, 'failure') &&
      ! contains(needs.*.result, 'cancelled') &&
      github.repository == 'centreon/centreon'
    runs-on: centreon-common
    strategy:
      matrix:
        distrib: [el8, el9, bullseye]

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Promote ${{ matrix.distrib }} to stable
        uses: ./.github/actions/promote-to-stable
        with:
          artifactory_token: ${{ secrets.ARTIFACTORY_ACCESS_TOKEN }}
          module: awie
          distrib: ${{ matrix.distrib }}
          major_version: ${{ needs.get-environment.outputs.major_version }}
          minor_version: ${{ needs.get-environment.outputs.minor_version }}
          stability: ${{ needs.get-environment.outputs.stability }}
          github_ref_name: ${{ github.ref_name }}
          release_type: ${{ needs.get-environment.outputs.release_type }}
          is_cloud: ${{ needs.get-environment.outputs.is_cloud }}

  set-skip-label:
    needs: [get-environment, deliver-rpm, deliver-deb, promote]
    if: |
      needs.get-environment.outputs.skip_workflow == 'false' &&
      ! cancelled() &&
      ! contains(needs.*.result, 'failure') &&
      ! contains(needs.*.result, 'cancelled')
    uses: ./.github/workflows/set-pull-request-skip-label.yml
