name: chromatic

on:
  workflow_dispatch:
  push:
    branches:
      - 'develop'
      - 'MON-**'
    paths:
      - "centreon/packages/ui/**"

env:
  directory: "centreon/packages/ui"

jobs:
  chromatic:
    runs-on: ubuntu-24.04
    if: github.repository == 'centreon/centreon'

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          fetch-depth: 0

      - uses: ./.github/actions/chromatic
        with:
          frontend_directory: ${{ env.directory }}
          dependencies_lock_file: centreon/pnpm-lock.yaml
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          project_token: ${{ secrets.CHROMATIC_TOKEN }}
