name: chromatic-nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * 1,2,3,4"

env:
  directory: "centreon/packages/ui"

jobs:
  publish-snapshots:
    if: ${{ github.event_name == 'schedule' && github.ref_name == 'develop' }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/chromatic
        with:
          frontend_directory: ${{ env.directory }}
          dependencies_lock_file: centreon/pnpm-lock.yaml
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          project_token: ${{ secrets.CHROMATIC_TOKEN }}
