name: clean-npm-tags

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 1-5"

jobs:
  clean-npm-tags:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: 20

      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          version: 8

      - name: Install action dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./.github/actions/clean-up-npm-tags
        shell: bash

      - uses: ./.github/actions/clean-up-npm-tags
        with:
          npm_token: ${{ secrets.NPM_TOKEN }}
