---
name: Create centreon widget ntopng listing version

on:
  pull_request_target:
    types:
      - closed
    branches:
      - "master"
      - "*.x"
      - "!dev*"
    paths:
      - "widgets/centreon-widget-ntopng-listing/**"
  workflow_dispatch:

env:
  module: "widget-ntopng-listing"

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Release
        id: release
        uses: ./.github/actions/release
        with:
          module_name: ${{ env.module }}
          jira_token: ${{ secrets.JIRA_TOKEN }}
          jira_project_id: ${{ secrets.JIRA_PROJECT_ID }}
