on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      module_name:
        required: true
        type: string
      image_name:
        required: true
        type: string
      features_path:
        required: true
        type: string
    secrets:
      registry_username:
        required: true
      registry_password:
        required: true

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
    with:
      version_file: centreon/www/install/insertBaseConf.sql

  cypress-e2e-test-list:
    runs-on: ubuntu-22.04
    outputs:
      features: ${{ steps.list-features.outputs.features }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: List features
        id: list-features
        run: |
          cd ${{ inputs.module_name }}
          echo "features=$(find ${{ inputs.features_path }} -type f -name "*.feature" -printf "%P\n" | sort | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  cypress-e2e-test-run:
    needs: [cypress-e2e-test-list, get-version]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
        feature: ${{ fromJson(needs.cypress-e2e-test-list.outputs.features) }}
    name: ${{ matrix.feature }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: centreon.jfrog.io/docker
          username: ${{ secrets.registry_username }}
          password: ${{ secrets.registry_password }}

      - name: Cypress e2e testing
        uses: ./.github/actions/cypress-e2e-testing
        with:
          name: ${{ inputs.name }}
          image: centreon.jfrog.io/docker/centreon-web-alma9
          image_openid_version: ${{ needs.get-version.outputs.major_version }}
          image_version: ${{ github.head_ref || github.ref_name }}
          module: centreon
          feature_file_path: ${{matrix.feature}}

      - name: Upload e2e tests Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.name }}-test-reports
          path: centreon/tests/e2e/cypress/results/reports/*.xml

  cypress-e2e-test-report:
    needs: [cypress-e2e-test-run]
    if: failure()
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.name }}-test-reports
          path: ${{ inputs.name }}-xunit-reports

      - uses: ./.github/actions/publish-report
        with:
          check_name: ${{ inputs.name }}-tests-report
          path: "${{ inputs.name }}-xunit-reports/**/*.xml"
