on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      module_name:
        required: true
        type: string
      image_name:
        required: true
        type: string
      features_path:
        required: true
        type: string
    secrets:
      username:
        required: true
      password:
        required: true

jobs:
  cypress-e2e-test-list:
    runs-on: ubuntu-22.04
    outputs:
      features: ${{ steps.list-features.outputs.features }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: List features
        id: list-features
        run: |
          cd ${{ inputs.module_name }}
          echo "features=$(find ${{ inputs.features_path }} -type f -name "*.feature" -printf "%P\n" | sort | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  cypress-e2e-test-run:
    needs: [cypress-e2e-test-list]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
        feature: ${{ fromJson(needs.cypress-e2e-test-list.outputs.features) }}
    name: ${{ matrix.feature }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to proxy registry
        uses: docker/login-action@v2
        with:
          registry: docker-proxy.centreon.com
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: docker.centreon.com
          username: ${{ secrets.username }}
          password: ${{ secrets.password }}

      - name: Cypress e2e testing
        uses: ./.github/actions/cypress-e2e-testing
        with:
          name: cypress-e2e
          image: docker.centreon.com/centreon-web-centos7
          image_version: ${{ github.head_ref || github.ref_name }}
          module: centreon
          feature_file_path: ${{matrix.feature}}

      - name: Upload e2e tests Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.name }}-test-reports
          path: centreon/tests/e2e/cypress/results/reports/*.xml

      - name: Delete all summary content
        run: rm $GITHUB_STEP_SUMMARY
        shell: bash

  cypress-e2e-test-report:
    needs: [cypress-e2e-test-run]
    if: always()
    runs-on: ubuntu-22.04

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: cypress-e2e-test-reports
          path: cypress-e2e-xunit-reports

      - name: Publish tests report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ always() }}
        with:
          check_name: cypress-e2e-tests-report
          comment_mode: failures
          junit_files: cypress-e2e-xunit-reports/**/*.xml
