on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      module_name:
        required: true
        type: string
      specs_path:
        required: true
        type: string
      dependencies_lock_file:
        required: true
        type: string
        description: "The frontend dependencies lock file path"

jobs:
  cypress-component-test-list:
    runs-on: ubuntu-22.04
    outputs:
      specs: ${{ steps.list-specs.outputs.specs }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: List of specs
        id: list-specs
        run: |
          cd ${{ inputs.module_name }}
          echo "specs=$(find ${{ inputs.specs_path }} -type f -name "*.cypress.spec.tsx" -exec basename {} \; | sort | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  cypress-component-test-run:
    needs: [cypress-component-test-list]
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        spec: ${{ fromJson(needs.cypress-component-test-list.outputs.specs) }}
    name: ${{ matrix.spec }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Cypress component testing
        uses: ./.github/actions/web-frontend-component-test
        with:
          module: ${{ inputs.module_name }}
          spec_file_path: ${{ inputs.specs_path }}/${{ matrix.spec }}
          dependencies_lock_file: ${{ inputs.dependencies_lock_file }}

      - name: Upload components tests Results
        if: failure()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: ${{ inputs.name }}-test-reports
          path: centreon/cypress/results/*.json
          retention-days: 1

  cypress-component-test-report:
    needs: [cypress-component-test-run]
    if: failure()
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          version: 7

      - name: Download Artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: ${{ inputs.name }}-test-reports
          path: ${{ inputs.name }}-json-reports

      - name: Merge reports
        run: |
          pnpx mochawesome-merge "${{ inputs.name }}-json-reports/**/*.json" > mochawesome.json
        shell: bash

      - name: Publish report
        uses: ./.github/actions/publish-report
        with:
          check_name: ${{ inputs.name }}-report
          path: mochawesome.json
          format: cypress
          urlFilePrefix: centreon
