name: Centreon build docker test openid

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/docker/Dockerfile.openid"
  push:
    branches:
      - develop
    paths:
      - ".github/docker/Dockerfile.openid"

env:
  version: "23.04"

jobs:
  create-and-push-docker:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        include:
          - project: openid

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to proxy registry
        uses: docker/login-action@v2
        with:
          registry: docker-proxy.centreon.com
          username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
          password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: docker.centreon.com
          username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
          password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}

      - name: build docker ${{ matrix.project }}
        run: | 
          cd .github
          ls
          docker build --no-cache . -f .github/docker/Dockerfile.${{ matrix.project }} -t docker.centreon.com/${{ matrix.project }}:${{ env.version }}

      - name: push docker ${{ matrix.project }}
        run: docker push docker.centreon.com/${{ matrix.project }}:${{ env.version }}
