name: docker-packaging

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - dev-[2-9][0-9].[0-9][0-9].x
    paths:
      - ".github/docker/Dockerfile.packaging-*"
  pull_request:
    paths:
      - ".github/docker/Dockerfile.packaging-*"

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
    with:
      version_file: centreon/www/install/insertBaseConf.sql

  dockerize:
    needs: [get-version]

    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-22.04
            dockerfile: packaging-alma8
            image: packaging-alma8
          - runner: ubuntu-22.04
            dockerfile: packaging-alma9
            image: packaging-alma9
          - runner: ubuntu-22.04
            dockerfile: packaging-bullseye
            image: packaging-bullseye
          - runner: ["self-hosted", "collect-arm64"]
            dockerfile: packaging-bullseye
            image: packaging-bullseye-arm64

    runs-on: ${{ matrix.runner }}

    name: build container ${{ matrix.image }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_ID }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWD }}

      - uses: docker/setup-buildx-action@v2

      - uses: docker/build-push-action@v3
        with:
          file: .github/docker/Dockerfile.${{ matrix.dockerfile }}
          context: .
          pull: true
          push: true
          tags: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}/${{ matrix.image }}:${{ needs.get-version.outputs.major_version }}
