name: docker-packaging

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - dev-[2-9][0-9].[0-9][0-9].x
    paths:
      - ".github/docker/Dockerfile.packaging-*"
  pull_request:
    paths:
      - ".github/docker/Dockerfile.packaging-*"

jobs:
  get-version:
    if: github.event.pull_request.base.repo.name  == 'centreon'
    uses: ./.github/workflows/get-version.yml
    with:
      version_file: centreon/www/install/insertBaseConf.sql

  dockerize:
    needs: [get-version]
    if: needs.get-version.outputs.pull_request_environment == 'internal_contributor'
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-22.04
            dockerfile: packaging-alma8
            image: packaging-alma8
          - runner: ubuntu-22.04
            dockerfile: packaging-nfpm-alma8
            image: packaging-nfpm-alma8
          - runner: ubuntu-22.04
            dockerfile: packaging-alma9
            image: packaging-alma9
          - runner: ubuntu-22.04
            dockerfile: packaging-nfpm-alma9
            image: packaging-nfpm-alma9
          - runner: ubuntu-22.04
            dockerfile: packaging-bullseye
            image: packaging-bullseye
          - runner: ubuntu-22.04
            dockerfile: packaging-nfpm-bullseye
            image: packaging-nfpm-bullseye
          - runner: ubuntu-22.04
            dockerfile: packaging-bookworm
            image: packaging-bookworm
          - runner: ubuntu-22.04
            dockerfile: packaging-nfpm-bookworm
            image: packaging-nfpm-bookworm
          - runner: ubuntu-22.04
            dockerfile: packaging-nfpm-jammy
            image: packaging-nfpm-jammy
          - runner: ["self-hosted", "collect-arm64"]
            dockerfile: packaging-bullseye
            image: packaging-bullseye-arm64
          - runner: ["self-hosted", "collect-arm64"]
            dockerfile: packaging-nfpm-bullseye
            image: packaging-nfpm-bullseye-arm64

    runs-on: ${{ matrix.runner }}

    name: build container ${{ matrix.image }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Login to registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_REGISTRY_ID }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWD }}

      - uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db # v3.6.1

      - uses: docker/build-push-action@16ebe778df0e7752d2cfcbd924afdbbd89c1a755 # v6.6.1
        with:
          file: .github/docker/Dockerfile.${{ matrix.dockerfile }}
          context: .
          pull: true
          push: true
          tags: ${{ vars.DOCKER_INTERNAL_REGISTRY_URL }}/${{ matrix.image }}:${{ needs.get-version.outputs.major_version }}
