name: gorgone

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/gorgone.yml"
      - "centreon-gorgone/**"
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/gorgone.yml"
      - "centreon-gorgone/**"
    tags:
      - centreon-gorgone-*

env:
  base_directory: centreon-gorgone

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
    with:
      version_file: centreon-gorgone/packaging/centreon-gorgone.spectemplate

  package:
    needs: [get-version]

    strategy:
      fail-fast: false
      matrix:
        distrib: [el7, el8, bullseye]
        include:
          - package_extension: rpm
            image: packaging-centos7
            distrib: el7
          - package_extension: rpm
            image: packaging-alma8
            distrib: el8
          - package_extension: deb
            image: packaging-bullseye
            distrib: bullseye

    uses: ./.github/workflows/package.yml
    with:
      base_directory: centreon-gorgone
      spec_file: centreon-gorgone/packaging/centreon-gorgone.spectemplate
      package_extension: ${{ matrix.package_extension }}
      image_name: ${{ matrix.image }}
      module_name: centreon-gorgone
      major_version: ${{ needs.get-version.outputs.major_version }}
      minor_version: ${{ needs.get-version.outputs.minor_version }}
      release: ${{ needs.get-version.outputs.release }}
      cache_key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
    secrets:
      artifactory_username: ${{ secrets.REPOS_USERNAME }}
      artifactory_password: ${{ secrets.REPOS_PASSWORD }}

  deliver-rpm:
    runs-on: [self-hosted, common]
    needs: [package]
    strategy:
      matrix:
        distrib: [el7, el8]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/rpm-delivery
        with:
          module_name: centreon-gorgone
          distrib: ${{ matrix.distrib }}
          version: ${{ needs.get-version.outputs.major_version }}
          nexus_username: ${{ secrets.REPOS_USERNAME }}
          nexus_password: ${{ secrets.REPOS_PASSWORD }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-rpm-${{ matrix.distrib }}

  deliver-deb:
    runs-on: [self-hosted, common]
    needs: [package]
    strategy:
      matrix:
        distrib: [bullseye]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/deb-delivery
        with:
          module_name: centreon-gorgone
          distrib: ${{ matrix.distrib }}
          version: ${{ needs.get-version.outputs.major_version }}
          nexus_username: ${{ secrets.REPOS_USERNAME }}
          nexus_password: ${{ secrets.REPOS_PASSWORD }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-deb-${{ matrix.distrib }}
