name: centreon-js-config-beta

on:
  pull_request:
    paths:
      - 'centreon/packages/js-config/**'
      - '.github/workflows/js-config-beta.yml'
      - ".github/actions/npm-publish-package-beta/**"
    branches:
      - dev-22.10.x

env:
  directory: "centreon/packages/js-config"
  package: 'js-config'
  base_branch: dev-22.10.x

jobs:
  publish-new-npm-beta-version:
    if: github.repository == 'centreon/centreon'
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          package: ${{ env.package }}
