name: centreon-js-config-merge

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    paths:
      - "centreon/packages/js-config/**"

env:
  directory: "centreon/packages/js-config"
  package: "js-config"
  base_branch: develop

jobs:
  clean-up-npm-beta-tag:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/clean-up-npm-tag
        with:
          package: js-config
          npm_token: ${{ secrets.NPM_TOKEN }}

  deliver-npm-stable:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.merged == true }}

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}