name: centreon-js-config

on:
  pull_request:
    paths:
      - "centreon/packages/js-config/**"
    branches:
      - dev-22.10.x

env:
  directory: "centreon/packages/js-config"
  centreon_directory: "centreon"
  package: 'js-config'
  base_branch: dev-22.10.x

jobs:
  deliver-npm:
    runs-on: ubuntu-22.04
    needs: check-package-version
    if: ${{ !startsWith(github.head_ref, 'MON-update-package-versions') }}

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          package: ${{ env.package }}
          release_type: "beta"

  check-package-version:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/check-package-version
        with:
          base_branch: ${{ env.base_branch }}
          directory: ${{ env.directory }}