name: centreon-js-config-stable

on:
  workflow_dispatch:
  push:
    branches:
      - dev-[2-9][0-9].[0-9][0-9].x
    paths:
      - "centreon/packages/js-config/**"
      - ".github/actions/npm-publish-package-stable/**"
      - '.github/workflows/js-config-stable.yml'
      - "!centreon/packages/js-config/package.json"

env:
  directory: "centreon/packages/js-config"
  package: "js-config"
  base_branch: dev-24.04.x

jobs:
  publish-new-npm-version:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
          tag: ${{ env.base_branch }}
