name: centreon-js-config-beta

on:
  workflow_dispatch:
  pull_request_target:
    paths:
      - 'centreon/packages/js-config/**'
      - '.github/workflows/js-config-beta.yml'

env:
  directory: "centreon/packages/js-config"
  package: 'js-config'
  base_branch: develop

jobs:
  publish-new-npm-beta-version:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
