---
name: Centreon Modules

on: pull_request

jobs:
  filters:
    runs-on: common
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Check Path Changed
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'centreon-frontend/**'

  frontend-test:
    needs: filters
    runs-on: common
    strategy:
      matrix:
        include:
          - image: frontend
            version: 1.1
    if: ${{ needs.filters.outputs.frontend == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Test Frontend
        uses: ./.github/actions/centreon-build
        continue-with-error: true
        with:
          module_name: frontend
          image_name: ${{ matrix.image }}
          image_version: ${{ matrix.version }}