---
name: Centreon Modules

on: pull_request

env:
  version: "22.10"


jobs:
  filters:
    runs-on: common
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      web: ${{ steps.filter.outputs.web }}
      widgets: ${{ steps.filter.outputs.widgets }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Check Path Changed
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'centreon-frontend/**'
            web:
              - 'centreon/**'
            widgets:
              - 'widgets/**'

  frontend-test:
    needs: filters
    runs-on: common
    strategy:
      matrix:
        include:
          - image: frontend
            version: 1.1
    if: ${{ needs.filters.outputs.frontend == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Test Frontend
        uses: ./.github/actions/centreon-build
        continue-on-error: true
        with:
          module_name: frontend
          image_name: ${{ matrix.image }}
          image_version: ${{ matrix.version }}
          step: test

  web-test:
    needs: filters
    runs-on: common
    strategy:
      matrix:
        include:
          - image: frontend
            version: 1.1
          - image: backend
            version: 2.5
    if: ${{ needs.filters.outputs.web == 'true' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Test Web
        uses: ./.github/actions/centreon-build
        with:
          module_name: web
          image_name: ${{ matrix.image }}
          image_version: ${{ matrix.version }}
          step: test

  web-packaging:
    needs: filters
    if: ${{ needs.filters.outputs.web == 'true' }}
    uses: ./.github/workflows/module_workflow.yml
    with:
      module_name: web
      version: "22.10"
    secrets:
      nexus_username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
      nexus_password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}

  widgets-packaging:
    needs: filters
    if: ${{ needs.filters.outputs.widgets == 'true' }}
    uses: ./.github/workflows/module_workflow.yml
    with:
      module_name: widgets
      version: "22.10"
    secrets:
      nexus_username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
      nexus_password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}


  create-and-push-docker-web:
    needs: [web-packaging]
    runs-on: common
    
    strategy:
      matrix:
        include:
          - project: run-centreon-open-source
            distrib: centos7
            distrib_rpm: el7
            version: "22.10"
            module_name: web

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: docker.registry.apps.centreon.com
          username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
          password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}

      - name: build docker run
        uses: ./.github/actions/docker-builder-run
        with:
          distrib: ${{ matrix.distrib }}
          project: ${{ matrix.project }}
          distrib_rpm: ${{ matrix.distrib_rpm }}
          module_name: ${{ matrix.module_name }}

  create-and-push-docker-widgets:
    needs: [widgets-packaging]
    runs-on: common
    
    strategy:
      matrix:
        include:
          - project: run-centreon-open-source
            distrib: centos7
            distrib_rpm: el7
            version: "22.10"
            module_name: widgets

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: docker.registry.apps.centreon.com
          username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
          password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}

      - name: build docker run
        uses: ./.github/actions/docker-builder-run
        with:
          distrib: ${{ matrix.distrib }}
          project: ${{ matrix.project }}
          distrib_rpm: ${{ matrix.distrib_rpm }}
          module_name: ${{ matrix.module_name }}
