name: merge-gatekeeper

on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
      - dev-[2-9][0-9].[0-9][0-9].x

jobs:
  merge-gatekeeper:
    runs-on: ubuntu-22.04
    steps:
      - name: Run Merge Gatekeeper
        uses: upsidr/merge-gatekeeper@v1
        with:
          interval: 300
          timeout: 3600
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          ref: ${{ github.ref }}
