name: nightly-cod-platform-deploy

on:
  schedule:
    - cron: "15 7 * * 1-5"

jobs:
  nightly-cod-platform-deploy:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check the status of the last nightly
        id: check-latest-nightly-status
        uses: ./.github/actions/check-latest-nightly-status

      - name: Deploy a COD platform with nightly build artifacts
        if: ${{ steps.check-latest-nightly-status.outputs.last_nightly_result == 'success' }}
        run: |
          set -x

          # Deploy a new fresh instance if destroy suceeded
          echo "[INFO]: Deploying nightly COD instance with latest develop state."
          curl --fail \
            -s \
            -o /dev/null \
            -X POST \
            -H "Authorization: Bearer ${{ secrets.CENTREON_TECHNIQUE_PAT }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/centreon/centreon-on-demand/actions/workflows/deploy.yml/dispatches \
            -d '{"ref": "main", "inputs":{"bu":"RD", \
                                          "deployment_profile":"Standard profile", \
                                          "poller_number":"1", \
                                          "instance_features":"Alma9 - MariaDB", \
                                          "centreon_branch":"develop", \
                                          "custom_centreon_web_admin_password":"${{ secrets.COD_NIGHTLY_INSTANCE_ADMIN_PWD }}", \
                                          "configured_resources":"false", \
                                          "install_business_modules":"false" }}'
            -w %http_code
        shell: bash
