---
name: Release

on:
  pull_request:
    types:
      - closed
    branches:
      - master
      - "[2-9][0-9].[0-9][0-9].x"
    paths:
      - "centreon-awie/**"
      - "centreon-dsm/**"
      - "centreon-gorgone/**"
      - "centreon-ha/**"
      - "centreon-open-tickets/**"
      - "centreon/**"
  workflow_dispatch:

jobs:
  release:
    # RUN ONLY ON THESE CONDITIONS
    if: ${{ github.event.pull_request.merged == true && (github.base_ref == 'master' || github.base_ref == '[2-9][0-9].[0-9][0-9].x') }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0

      - name: Release
        id: release
        uses: ./.github/actions/release
        with:
          github_ref_name: ${{ github.head_ref || github.ref_name }}
          jira_project_id: ${{ secrets.JIRA_PROJECT_ID }}
          jira_user_email: ${{ secrets.XRAY_JIRA_USER_EMAIL }}
          jira_api_token: ${{ secrets.XRAY_JIRA_TOKEN }}
          jira_webhook_url: ${{ secrets.JIRA_RELEASE_WEBHOOK }}
          module_name: ${{ env.module }}
