---
name: Tag centreon widget single metric releases

on:
  pull_request_target:
    types:
      - closed
    branches:
      - master
      - "[2-9][0-9].[0-9][0-9].x"
    paths:
      - ".github/actions/release/action.yml"
      - ".github/workflows/release-widget-single-metric.yml"
      - "widgets/centreon-widget-single-metric/**"
  workflow_dispatch:

env:
  module: "widget-single-metric"

jobs:
  release:
    runs-on: ubuntu-22.04
    if: github.event.pull_request.merged == true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Release
        id: release
        uses: ./.github/actions/release
        with:
          module_name: ${{ env.module }}
          jira_token: ${{ secrets.JIRA_TOKEN }}
