name: ui-automerge
on:
  workflow_dispatch:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
    paths:
      - "centreon/packages/ui/**"
  check_suite:
    types:
      - completed

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.head_ref, 'MON-update-package-versions') }}

    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.15.5"
        env:
          GITHUB_TOKEN: "${{ secrets.CENTREON_TECHNIQUE_TOKEN }}"
          MERGE_METHOD: "squash"
          MERGE_DELETE_BRANCH: true