name: centreon-ui

on:
  pull_request:
    paths:
      - "centreon/packages/ui/**"
      - '.github/workflows/ui-beta.yml'
    branches:
      - develop
  workflow_dispatch:

env:
  directory: "centreon/packages/ui"
  centreon_directory: "centreon"
  package: "ui"
  base_branch: develop

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/frontend-lint
        with:
          frontend_directory: ${{ env.directory }}
          installation_directory: ${{ env.centreon_directory }}
          module_name: centreon-ui

  unit-test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt update
          sudo apt install -y google-chrome-stable

      - name: Install Centreon dependencies
        run: pnpm install
        working-directory: ${{ env.centreon_directory }}

      - name: Build Storybook
        run: pnpm build:storybook
        working-directory: ${{ env.directory }}

      - name: Unit test
        run: pnpm test:ci
        working-directory: ${{ env.directory }}

  publish-new-npm-beta-version:
    runs-on: ubuntu-22.04
    needs: [lint, unit-test, check-package-version]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          package: ${{ env.package }}
          release_branch: ${{ env.base_branch }}

  check-package-version:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/check-package-version
        with:
          base_branch: ${{ env.base_branch }}
          directory: ${{ env.directory }}