name: centreon-ui-beta

on:
  workflow_dispatch:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "centreon/packages/ui/**"
      - '.github/workflows/ui-beta.yml'

env:
  directory: "centreon/packages/ui"
  package: "ui"
  base_branch: develop

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - uses: ./.github/actions/frontend-lint
        with:
          frontend_directory: ${{ env.directory }}
          module_name: centreon-ui
          dependencies_lock_file: centreon/pnpm-lock.yaml
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          lint_path: ./src/

  cypress-component-testing:
    uses: ./.github/workflows/cypress-component-parallelization.yml
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.LIGHTHOUSE_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.LIGHTHOUSE_SECRET }}
      jira_base_url: ${{ secrets.JIRA_BASE_URL }}
      jira_user_email: ${{ secrets.XRAY_JIRA_USER_EMAIL }}
      jira_api_token: ${{ secrets.XRAY_JIRA_TOKEN }}
    with:
      name: component
      module_name: centreon/packages/ui
      specs_path: src/**
      dependencies_lock_file: centreon/pnpm-lock.yaml
      is_nightly: false

  unit-test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          version: 8

      - name: Install Centreon dependencies
        run: pnpm install --frozen-lockfile
        working-directory: centreon

      - name: Unit test
        run: pnpm t
        working-directory: ${{ env.directory }}

  publish-new-npm-beta-version:
    runs-on: ubuntu-22.04
    needs: [lint, unit-test, cypress-component-testing]
    if: |
      github.event.pull_request.base.repo.name  == 'centreon' ||
      github.repository == 'centreon/centreon'

    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
