name: centreon-ui-beta

on:
  pull_request:
    paths:
      - "centreon/packages/ui/**"
      - '.github/workflows/ui-beta.yml'
  workflow_dispatch:

env:
  directory: "centreon/packages/ui"
  package: "ui"
  base_branch: dev-24.04.x

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/frontend-lint
        with:
          frontend_directory: ${{ env.directory }}
          module_name: centreon-ui
          dependencies_lock_file: centreon/pnpm-lock.yaml

  cypress-component-testing:
    uses: ./.github/workflows/cypress-component-parallelization.yml
    secrets:
      jira_base_url: ${{ secrets.JIRA_BASE_URL }}
      jira_user_email: ${{ secrets.XRAY_JIRA_USER_EMAIL }}
      jira_api_token: ${{ secrets.XRAY_JIRA_TOKEN }}
    with:
      name: component
      module_name: centreon/packages/ui
      specs_path: src/**
      dependencies_lock_file: centreon/pnpm-lock.yaml
      is_nightly: false

  unit-test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          version: 8

      - name: Install Centreon dependencies
        run: pnpm install --frozen-lockfile
        working-directory: centreon

      - name: Unit test
        run: pnpm t
        working-directory: ${{ env.directory }}

  publish-new-npm-beta-version:
    runs-on: ubuntu-22.04
    needs: [lint, unit-test, cypress-component-testing]

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
