name: centreon-ui-beta

on:
  pull_request:
    paths:
      - "centreon/packages/ui/**"
      - '.github/workflows/ui-beta.yml'
  workflow_dispatch:

env:
  directory: "centreon/packages/ui"
  package: "ui"
  base_branch: dev-23.04.x

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/frontend-lint
        with:
          frontend_directory: ${{ env.directory }}
          module_name: centreon-ui
          dependencies_lock_file: centreon/pnpm-lock.yaml

  unit-test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          version: 7

      - run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt update
          sudo apt install -y google-chrome-stable

      - name: Install Centreon dependencies
        run: pnpm install
        working-directory: centreon

      - name: Build Storybook
        run: pnpm build:storybook
        working-directory: ${{ env.directory }}

      - name: Unit test
        run: pnpm test:ci
        working-directory: ${{ env.directory }}

      - name: Upload snapshot diff output results
        if: failure()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: ${{ env.centreon_directory }}-images-snapshots-diff-output
          path: ${{ env.directory }}/src/__image_snapshots__/__diff_output__/

  publish-new-npm-beta-version:
    runs-on: ubuntu-22.04
    needs: [lint, unit-test]

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
