name: ui

on:
  pull_request:
    paths:
      - "centreon/packages/ui/**"
      - '.github/workflows/ui-beta.yml'
      - ".github/actions/npm-publish-package-beta/**"
    branches:
      - dev-22.04.x
  workflow_dispatch:

env:
  directory: "centreon/packages/ui"
  centreon_directory: "centreon"
  package: "ui"
  base_branch: dev-22.04.x

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16.2.0

      - name: Install dependencies
        run: npm ci --legacy-peer-deps
        working-directory: ${{ env.centreon_directory }}

      - name: Lint
        run: npm run eslint -- -o checkstyle.xml -f checkstyle
        working-directory: ${{ env.directory }}

      - name: Publish report
        if: ${{ always() }}
        uses: jwgmeligmeyling/checkstyle-github-action@master
        with:
          name: centreon-ui-eslint-report
          path: ${{ env.directory }}/checkstyle.xml

  unit-test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 17

      - run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt update
          sudo apt install -y google-chrome-stable
      - name: Install Centreon dependencies
        run: npm ci --legacy-peer-deps
        working-directory: ${{ env.centreon_directory }}

      - name: Build Storybook
        run: npm run build:storybook
        working-directory: ${{ env.directory }}

      - name: Unit test
        run: npm t -- --silent --reporters=jest-junit
        working-directory: ${{ env.directory }}

  publish-new-npm-beta-version:
    runs-on: ubuntu-22.04
    needs: [lint, unit-test, check-package-version]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          package: ${{ env.package }}
          release_branch: ${{ env.base_branch }}

  check-package-version:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/check-package-version
        with:
          base_branch: ${{ env.base_branch }}
          directory: ${{ env.directory }}