name: centreon-ui-context-beta

on:
  workflow_dispatch:
  pull_request_target:
    paths:
      - "centreon/packages/ui-context/**"
      - '.github/workflows/ui-context.yml'
    branches:
      - develop

env:
  directory: "centreon/packages/ui-context"
  package: 'ui-context'
  base_branch: develop

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/frontend-lint
        with:
          frontend_directory: ${{ env.directory }}
          module_name: centreon-ui-context
          dependencies_lock_file: centreon/pnpm-lock.yaml


  publish-new-npm-beta-version:
    runs-on: ubuntu-22.04
    needs: lint

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          package: ${{ env.package }}
          release_branch: ${{ env.base_branch }}
