name: centreon-ui-context-beta

on:
  pull_request:
    paths:
      - ".github/workflows/ui-context-beta.yml"
      - "centreon/packages/ui-context/**"
      - ".github/actions/npm-publish-package-beta/**"
    branches:
      - dev-22.10.x

env:
  directory: "centreon/packages/ui-context"
  centreon_directory: "centreon"
  package: 'ui-context'
  base_branch: dev-22.10.x

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
        with:
          node-version: 16

      - uses: ./.github/actions/frontend-lint
        with:
          frontend_directory: ${{ env.directory }}
          installation_directory: ${{ env.centreon_directory }}
          module_name: centreon-ui-context

  publish-new-npm-beta-version:
    if: github.repository == 'centreon/centreon'
    runs-on: ubuntu-22.04
    needs: lint

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/npm-publish-package-beta
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          package: ${{ env.package }}
