name: centreon-ui-context-stable

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    paths:
      - "centreon/packages/ui-context/**"
      - ".github/actions/npm-publish-package-stable/**"

env:
  directory: "centreon/packages/ui-context"
  package: "ui-context"
  base_branch: develop

jobs:
  publish-new-npm-version:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.merged == true }}

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}