name: centreon-ui-context-stable

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - dev-[2-9][0-9].[0-9][0-9].x
    paths:
      - "centreon/packages/ui-context/**"
      - ".github/actions/npm-publish-package-stable/**"

env:
  directory: "centreon/packages/ui-context"
  package: "ui-context"
  base_branch: develop

jobs:
  publish-new-npm-version:
    runs-on: ubuntu-22.04
    if: github.repository == 'centreon/centreon'

    steps:
      -
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
