name: centreon-ui-context-stable

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    paths:
      - "centreon/packages/ui-context/**"
      - ".github/workflows/ui-context-stable.yml"
      - ".github/actions/npm-publish-package-stable/**"
    branches:
      - dev-22.10.x

env:
  directory: "centreon/packages/ui-context"
  package: "ui-context"
  base_branch: dev-22.10.x

jobs:
  clean-up-npm-beta-tag:
    if: github.event.pull_request.merged == true && github.repository == 'centreon/centreon'
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/clean-up-npm-tag
        with:
          package: ui-context
          npm_token: ${{ secrets.NPM_TOKEN }}

  publish-new-npm-version:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.merged == true }}

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
          version: ${{ env.base_branch }}
