name: centreon-ui-stable

on:
  workflow_dispatch:
  push:
    branches:
      - dev-[2-9][0-9].[0-9][0-9].x
    paths:
      - "centreon/packages/ui/**"
      - ".github/actions/npm-publish-package-stable/**"
      - '.github/workflows/ui-stable.yml'
      - "!centreon/packages/ui/package.json"

env:
  directory: "centreon/packages/ui"
  package: "ui"
  base_branch: dev-24.04.x
  AWS_ACCESS_KEY_ID: ${{ secrets.LIGHTHOUSE_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.LIGHTHOUSE_SECRET }}
  AWS_DEFAULT_REGION: eu-west-1

jobs:
  publish-new-npm-version:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_PAT }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}
          tag: ${{ env.base_branch }}
