name: centreon-ui-stable

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    paths:
      - "centreon/packages/ui/**"
      - ".github/actions/npm-publish-package-stable/**"
      - '.github/workflows/ui-stable.yml'

env:
  directory: "centreon/packages/ui"
  package: "ui"
  base_branch: develop
  AWS_ACCESS_KEY_ID: ${{ secrets.LIGHTHOUSE_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.LIGHTHOUSE_SECRET }}
  AWS_DEFAULT_REGION: eu-west-1

jobs:
  get-environment:
    uses: ./.github/workflows/get-environment.yml
    with:
      version_file: centreon/www/install/insertBaseConf.sql

  publish-new-npm-version:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.merged == true }}

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}

  publish-storybook:
    runs-on: ubuntu-22.04
    needs: [get-environment]

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: ./.github/actions/publish-storybook
        with:
          major_version: ${{ needs.get-environment.outputs.major_version }}
          directory: ${{ env.directory }}
