name: centreon-ui-merge

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    paths:
      - "centreon/packages/ui/**"
      - ".github/actions/npm-publish-package-stable/**"
      - '.github/workflows/ui-stable.yml'

env:
  directory: "centreon/packages/ui"
  package: "ui"
  base_branch: develop

jobs:
  clean-up-npm-beta-tag:
    runs-on: ubuntu-22.04
    if: github.event.pull_request.merged == true

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/clean-up-npm-tag
        with:
          package: ui
          npm_token: ${{ secrets.NPM_TOKEN }}

  publish-new-npm-version:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.merged == true }}

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/npm-publish-package-stable
        with:
          directory: ${{ env.directory }}
          pat: ${{ secrets.CENTREON_TECHNIQUE_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          release_branch: ${{ env.base_branch }}
          package: ${{ env.package }}