name: web-analysis
run-name: ${{ (github.event_name == 'schedule' || (github.event_name == 'workflow_dispatch' && github.event.inputs.nightly_manual_trigger == 'true')) && format('web-analysis nightly {0}', github.ref_name) || '' }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      nightly_manual_trigger:
        description: 'Set to true for nightly run'
        required: true
        default: false
        type: boolean
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "centreon/**"
      - "!centreon/cypress/**"
      - "!centreon/features/**"
      - "!centreon/lighthouse/**"
      - "!centreon/tests/**"
      - "!centreon/.veracode-exclusions"
      - "!centreon/veracode.json"
      - "!centreon/packages/**"
  push:
    branches:
      - develop
      - dev-[2-9][0-9].[0-9][0-9].x
      - master
      - "[2-9][0-9].[0-9][0-9].x"
    paths:
      - "centreon/**"
      - "!centreon/cypress/**"
      - "!centreon/features/**"
      - "!centreon/lighthouse/**"
      - "!centreon/tests/**"
      - "!centreon/.veracode-exclusions"
      - "!centreon/veracode.json"
      - "!centreon/packages/**"

jobs:
  get-environment:
    uses: ./.github/workflows/get-environment.yml
    with:
      version_file: centreon/www/install/insertBaseConf.sql

  veracode-analysis:
    needs: [get-environment]
    if: ${{ needs.get-environment.outputs.is_targeting_feature_branch != 'true' && github.event.pull_request.draft != 'true' }}
    uses: ./.github/workflows/veracode-analysis.yml
    with:
      module_directory: "centreon"
      module_name: "centreon-web"
      major_version: ${{ needs.get-environment.outputs.major_version }}
      minor_version: ${{ needs.get-environment.outputs.minor_version }}
      stability: ${{ needs.get-environment.outputs.stability }}
    secrets:
      veracode_api_id: ${{ secrets.VERACODE_API_ID_WEB }}
      veracode_api_key: ${{ secrets.VERACODE_API_KEY_WEB_2 }}
      veracode_srcclr_token: ${{ secrets.VERACODE_SRCCLR_TOKEN }}
      jira_base_url: ${{ secrets.JIRA_BASE_URL }}
      jira_user_email: ${{ secrets.XRAY_JIRA_USER_EMAIL }}
      jira_api_token: ${{ secrets.XRAY_JIRA_TOKEN }}
