name: web

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/web.yml"
      - "centreon/**"
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/web.yml"
      - "centreon/**"
    tags:
      - centreon-22.10.**

env:
  version: "22.10"

jobs:
  centreon-backend-linting-phpcs:
    runs-on: common
    container: ubuntu:latest

    steps:
      - uses: actions/checkout@v3

      - name: Get changed files
        id: files
        uses: jitterbit/get-changed-files@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          coverage: none # disable xdebug, pcov
          tools: cs2pr
      - run: ./ci/scripts/web-lint-backend-phpcs.sh ${{ steps.files.outputs.added }} ${{ steps.files.outputs.modified }}

      - name: Show PHPCS results in PR
        if: ${{ always() }}
        run: cs2pr ./checkstyle-phpcs.xml

      - uses: jwgmeligmeyling/checkstyle-github-action@master
        with:
          name: centreon-phpcs-report
          path: "checkstyle-phpcs.xml"

  centreon-backend-linting-phpstan:
    runs-on: common
    container: ubuntu:latest

    steps:
      - uses: actions/checkout@v3

      - name: Get changed files
        id: files
        uses: jitterbit/get-changed-files@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          coverage: none # disable xdebug, pcov
          tools: cs2pr
      - run: ./ci/scripts/web-lint-backend-phpstan.sh ${{ steps.files.outputs.added }} ${{ steps.files.outputs.modified }}

      - name: Show PHPStan results in PR
        if: ${{ always() }}
        run: cs2pr ./checkstyle-phpstan.xml

      - name: Publish report
        uses: jwgmeligmeyling/checkstyle-github-action@master
        with:
          name: centreon-phpstan-report
          path: "checkstyle-phpstan.xml"

  centreon-frontend-linting:
    runs-on: common
    container: node:lts-bullseye

    steps:
      - uses: actions/checkout@v3

      - name: Run ESLint
        run: cd centreon && npm ci --legacy-peer-deps && npm run eslint
        shell: bash

  centreon-test:
    runs-on: common

    strategy:
      matrix:
        include:
          - rules: frontend
            image: test-frontend-open-source-bullseye
          - rules: backend
            image: test-backend-open-source-alpine

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Test centreon
        uses: ./.github/actions/runner-docker
        with:
          script_name: web-test-${{ matrix.rules }}
          image_name: ${{ matrix.image }}
          image_version: ${{ env.version }}

  centreon-packaging:
    runs-on: common

    strategy:
      matrix:
        include:
          - image: packaging-web-centos7
            distrib: el7
          - image: packaging-web-alma8
            distrib: el8
          # - image: packaging-web-bullseye
          #   distrib: bullseye

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Get minor and release version"
        uses: ./.github/actions/get-package-version
        with:
          module_name: ${{ env.module }}
        id: get_version

      - name: Package
        uses: ./.github/actions/runner-docker
        with:
          script_name: web-packaging
          image_name: ${{ matrix.image }}
          image_version: ${{ env.version }}
          params: ${{ env.version }}.${{ steps.get_version.outputs.minor_version }} ${{ steps.get_version.outputs.release }}

      - name: Sign
        uses: ./.github/actions/runner-docker
        with:
          script_name: rpm-signing
          image_name: rpm-signing
          image_version: ubuntu

      - name: Use cache RPM files
        uses: actions/cache@v3
        env:
          cache-name-rpmbuild: cache-${{ github.sha }}-${{ github.run_id }}-rpmbuild-web
        with:
          path: ./*.rpm
          key: ${{ env.cache-name-rpmbuild }}-${{ matrix.distrib }}

  delivery-rpm:
    needs: [centreon-packaging, centreon-test]

    runs-on: common
    strategy:
      matrix:
        include:
          - module_name: web
            distrib: el7

          - module_name: web
            distrib: el8
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/rpm-delivery
        with:
          module_name: ${{ matrix.module_name }}
          distrib: ${{ matrix.distrib }}
          version: ${{ env.version }}
          nexus_username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}

  create-and-push-docker:
    needs: [centreon-packaging, centreon-test]

    runs-on: common

    strategy:
      matrix:
        include:
          - project: run-centreon-open-source
            distrib: centos7
            distrib_rpm: el7
            module_name: web

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: docker.registry.apps.centreon.com
          username: ${{ secrets.NEXUS_RPMS_REPOSITORY_USERNAME }}
          password: ${{ secrets.NEXUS_RPMS_REPOSITORY_PASSWORD }}

      - name: build docker run
        uses: ./.github/actions/docker-builder-run
        with:
          distrib: ${{ matrix.distrib }}
          project: ${{ matrix.project }}
          distrib_rpm: ${{ matrix.distrib_rpm }}
          module_name: ${{ matrix.module_name }}

  cypress-e2e-testing:
    needs: [create-and-push-docker]
    runs-on: common

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Cypress e2e testing
        uses: ./.github/actions/cypress-e2e-testing
        with:
          image: docker.registry.apps.centreon.com/run-centreon-open-source-centos7
          image_version: ${{ github.head_ref || github.ref_name }}
          image_cypress_version: ${{ env.version }}
          module: centreon

      - name: Archive test results
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: cypress-videos
          path: centreon/tests/e2e/cypress/results/video

  lighthouse-performance-testing:
    needs: [create-and-push-docker]
    runs-on: common

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Lighthouse performance testing
        uses: ./.github/actions/lighthouse-performance-testing
        with:
          path: "centreon/lighthouse"
          image: docker.registry.apps.centreon.com/run-centreon-open-source-centos7
          image_version: ${{ github.head_ref || github.ref_name }}
          image_lighthouse_version: ${{ env.version }}
          module: centreon

      - name: Archive report
        uses: actions/upload-artifact@v3
        with:
          name: lighthouse-report
          path: centreon/lighthouse/report/lighthouseci-index.html

  behat-acceptance-testing:
    needs: [create-and-push-docker]
    runs-on: common

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Behat acceptance testing
        uses: ./.github/actions/behat-acceptance-testing
        with:
          image: docker.registry.apps.centreon.com/run-centreon-open-source-centos7
          image_version: ${{ github.head_ref || github.ref_name }}
          module: centreon