name: web

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/web.yml"
      - "centreon/**"
      - "!centreon/packages/**"
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/web.yml"
      - "centreon/**"
      - "!centreon/packages/**"

    tags:
      - centreon-22.10.**

env:
  version: "22.10"
  base_directory: centreon

jobs:
  changes:
    runs-on: ubuntu-22.04
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
    steps:
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            backend:
              - '!(**/*.[jt]sx?|**/front_src/**|**/tests/e2e/**|**/package*|**/lighthouse/**|**/tsconfig.json)'

  frontend-build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/frontend-build
        with:
          base_directory: ${{ env.base_directory }}
          index_file: ${{ env.base_directory }}/www/index.html
          static_directory: ${{ env.base_directory }}/www/static
          index_cache_key: ${{ github.sha }}-${{ github.run_id }}-index
          static_cache_key: ${{ github.sha }}-${{ github.run_id }}-static

  frontend-lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 17

      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci --legacy-peer-deps
        working-directory: centreon

      - name: Lint
        run: npm run eslint -- -o checkstyle.xml -f checkstyle --quiet
        working-directory: centreon

      - name: Publish report
        if: ${{ always() }}
        uses: jwgmeligmeyling/checkstyle-github-action@master
        with:
          name: centreon-web-eslint-report
          path: centreon/checkstyle.xml

  frontend-unit-test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 17

      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci --legacy-peer-deps
        working-directory: centreon

      - name: Unit test
        run: npm t -- --silent --reporters=jest-junit
        working-directory: centreon

      - name: Publish report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: "centreon-web-frontend-unit-tests-report"
          comment_mode: failures
          junit_files: "centreon/junit.xml"

  frontend-component-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - uses: ./.github/actions/web-frontend-component-test
        with:
          working_directory: centreon

  backend-dependencies:
    runs-on: ubuntu-22.04
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/backend-dependencies
        with:
          base_directory: ${{ env.base_directory }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-vendor

  backend-unit-test:
    runs-on: ubuntu-22.04
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: none
        env:
          runner: ubuntu-22.04

      - name: Install dependencies
        uses: ramsey/composer-install@v2
        with:
          working-directory: centreon
          composer-options: "--optimize-autoloader"

      - name: Unit test
        run: XDEBUG_MODE=coverage composer run-script test:ci
        working-directory: centreon

      - name: Publish report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: "centreon-web-backend-unit-tests-report"
          comment_mode: failures
          junit_files: "centreon/build/phpunit.xml"

  package:
    runs-on: ubuntu-22.04
    needs:
      [
        backend-dependencies,
        backend-unit-test,
        frontend-build,
        frontend-lint,
        frontend-unit-test,
        frontend-component-test,
      ]

    strategy:
      matrix:
        include:
          - package_extension: rpm
            image: packaging-web-centos7
            distrib: el7
          - package_extension: rpm
            image: packaging-web-alma8
            distrib: el8
          - package_extension: deb
            image: packaging-web-bullseye
            distrib: bullseye

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/package
        with:
          package_extension: ${{ matrix.package_extension }}
          frontend_index_cache_key: ${{ github.sha }}-${{ github.run_id }}-index
          frontend_index_file: ${{ env.base_directory }}/www/index.html
          frontend_static_cache_key: ${{ github.sha }}-${{ github.run_id }}-static
          frontend_static_directory: ${{ env.base_directory }}/www/static
          backend_vendor_cache_key: ${{ github.sha }}-${{ github.run_id }}-vendor
          backend_vendor_directory: ${{ env.base_directory }}/vendor
          image_name: ${{ matrix.image }}
          script_name: web-packaging-${{ matrix.package_extension }}
          module_name: centreon
          version: ${{ env.version }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
          sign: true
          nexus_username: ${{ secrets.ARTI_USER }}
          nexus_password: ${{ secrets.ARTI_PASSWD }}

  dockerize:
    runs-on: ubuntu-22.04
    needs: [package]

    strategy:
      matrix:
        include:
          - project: centreon-web
            distrib: centos7
            distrib_rpm: el7
            module_name: web

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: registry-docker.centreon.com
          username: ${{ secrets.ARTI_USER }}
          password: ${{ secrets.ARTI_PASSWD }}

      - name: Use cache RPM files
        uses: actions/cache@v3
        with:
          path: ./*.rpm
          key: ${{ github.sha }}-${{ github.run_id }}-rpm-${{ matrix.distrib_rpm }}

      - uses: docker/setup-buildx-action@v2

      - uses: docker/build-push-action@v3
        with:
          file: ci/docker/Dockerfile.${{ matrix.project }}-${{ matrix.distrib }}
          target: web_fresh
          context: .
          pull: true
          push: true
          tags: registry-docker.centreon.com/docker-global/${{ matrix.project }}-fresh-${{ matrix.distrib }}:${{ github.head_ref || github.ref_name }}

      - uses: docker/build-push-action@v3
        with:
          file: ci/docker/Dockerfile.${{ matrix.project }}-${{ matrix.distrib }}
          target: web_standard
          context: .
          pull: true
          push: true
          tags: registry-docker.centreon.com/docker-global/${{ matrix.project }}-${{ matrix.distrib }}:${{ github.head_ref || github.ref_name }}

      - uses: docker/build-push-action@v3
        with:
          file: ci/docker/Dockerfile.${{ matrix.project }}-${{ matrix.distrib }}
          target: web_widgets
          context: .
          pull: true
          push: true
          tags: registry-docker.centreon.com/docker-global/${{ matrix.project }}-widgets-${{ matrix.distrib }}:${{ github.head_ref || github.ref_name }}

  test-e2e:
    runs-on: ubuntu-22.04
    needs: [dockerize]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: registry-docker.centreon.com
          username: ${{ secrets.ARTI_USER }}
          password: ${{ secrets.ARTI_PASSWD }}

      - name: Cypress e2e testing
        uses: ./.github/actions/cypress-e2e-testing
        with:
          image: registry-docker.centreon.com/docker-global/centreon-web-centos7
          image_version: ${{ github.head_ref || github.ref_name }}
          image_cypress_version: ${{ env.version }}
          module: centreon

      - name: Archive videos
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: cypress-videos
          path: centreon/tests/e2e/cypress/results/videos

      - name: Publish report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: "centreon-web-frontend-e2e-tests-report"
          comment_mode: failures
          junit_files: centreon/tests/e2e/cypress-result.xml

  test-performances:
    runs-on: ubuntu-22.04
    needs: [dockerize]

    steps:
      - uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: registry-docker.centreon.com
          username: ${{ secrets.ARTI_USER }}
          password: ${{ secrets.ARTI_PASSWD }}

      - name: Run lighthouse
        uses: ./.github/actions/lighthouse-performance-testing
        with:
          path: "centreon/lighthouse"
          image: registry-docker.centreon.com/docker-global/centreon-web-centos7
          image_version: ${{ github.head_ref || github.ref_name }}
          image_lighthouse_version: ${{ env.version }}
          module: centreon

      - name: Publish report
        uses: actions/upload-artifact@v3
        with:
          name: lighthouse-report
          path: centreon/lighthouse/report/lighthouseci-index.html

  api-integration-test:
    needs: [dockerize]
    if: ${{ needs.changes.outputs.backend == 'true' }}

    uses: ./.github/workflows/behat-test.yml
    with:
      name: api
      module_name: centreon
      image_name: centreon-web
      features_path: tests/api/features
      config_file: tests/api/behat.yml
    secrets:
      nexus_username: ${{ secrets.ARTI_USER }}
      nexus_password: ${{ secrets.ARTI_PASSWD }}
      composer_token: ${{ secrets.CENTREON_TECHNIQUE_PAT }}

  legacy-e2e-test:
    needs: [api-integration-test]
    if: ${{ needs.changes.outputs.backend == 'true' }}

    uses: ./.github/workflows/behat-test.yml
    with:
      name: e2e
      module_name: centreon
      image_name: centreon-web
      features_path: features
    secrets:
      nexus_username: ${{ secrets.ARTI_USER }}
      nexus_password: ${{ secrets.ARTI_PASSWD }}
      composer_token: ${{ secrets.CENTREON_TECHNIQUE_PAT }}

  deliver-rpm:
    runs-on: ubuntu-22.04
    needs: [test-e2e, test-performances, legacy-e2e-test]
    strategy:
      matrix:
        distrib: [el7, el8]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/rpm-delivery
        with:
          module_name: web
          distrib: ${{ matrix.distrib }}
          version: ${{ env.version }}
          nexus_username: ${{ secrets.ARTI_USER }}
          nexus_password: ${{ secrets.ARTI_PASSWD }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-rpm-${{ matrix.distrib }}

  deliver-deb:
    runs-on: ubuntu-22.04
    needs: [test-e2e, test-performances, legacy-e2e-test]
    strategy:
      matrix:
        distrib: [bullseye]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/deb-delivery
        with:
          module_name: web
          distrib: ${{ matrix.distrib }}
          version: ${{ env.version }}
          nexus_username: ${{ secrets.ARTI_USER }}
          nexus_password: ${{ secrets.ARTI_PASSWD }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-deb-${{ matrix.distrib }}
