name: web

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/web.yml"
      - "centreon/**"
      - "!centreon/packages/**"
  push:
    branches:
      - develop
    paths:
      - ".github/workflows/web.yml"
      - "centreon/**"
      - "!centreon/packages/**"

    tags:
      - centreon-*

env:
  base_directory: centreon

jobs:
  get-version:
    uses: ./.github/workflows/get-version.yml
    with:
      version_file: centreon/www/install/insertBaseConf.sql

  frontend-build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/frontend-build
        with:
          base_directory: ${{ env.base_directory }}
          index_file: ${{ env.base_directory }}/www/index.html
          static_directory: ${{ env.base_directory }}/www/static
          index_cache_key: ${{ github.sha }}-${{ github.run_id }}-index
          static_cache_key: ${{ github.sha }}-${{ github.run_id }}-static

  backend-dependencies:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/backend-dependencies
        with:
          base_directory: ${{ env.base_directory }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-vendor

  package:
    runs-on: ubuntu-22.04
    container:
      image: registry-docker.centreon.com/docker-global/packaging-web-centos7:${{ needs.get-version.outputs.major_version }}
      credentials:
        username: ${{ secrets.ARTI_USER }}
        password: ${{ secrets.ARTI_PASSWD }}
    needs:
      [
        get-version,
        backend-dependencies,
        frontend-build
      ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - run: |
          #yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
          yum --disablerepo=* --enablerepo=epel install -y zstd
        shell: bash

      - name: Restore index file cache
        uses: actions/cache@v3
        with:
          path: ${{ env.base_directory }}/www/index.html
          key: ${{ github.sha }}-${{ github.run_id }}-index

      - name: Restore static directory cache
        uses: actions/cache@v3
        with:
          path: ${{ env.base_directory }}/www/static
          key: ${{ github.sha }}-${{ github.run_id }}-static

      - name: Restore vendor directory cache
        uses: actions/cache@v3
        with:
          path: ${{ env.base_directory }}/vendor
          key: ${{ github.sha }}-${{ github.run_id }}-vendor

      - run: |
          set -x

          cd centreon
          VERSION=${{ needs.get-version.outputs.major_version }}.${{ needs.get-version.outputs.minor_version }}
          RELEASE=${{ needs.get-version.outputs.release }}

          mkdir -p www/locale/en_US.UTF-8/LC_MESSAGES/
          touch www/locale/en_US.UTF-8/LC_MESSAGES/messages.mo
          touch www/locale/en_US.UTF-8/LC_MESSAGES/help.mo
          touch www/locale/en_US.UTF-8/LC_MESSAGES/messages.ser

          mkdir -p www/locale/fr_FR.UTF-8/LC_MESSAGES/
          touch www/locale/fr_FR.UTF-8/LC_MESSAGES/messages.mo
          touch www/locale/fr_FR.UTF-8/LC_MESSAGES/help.mo
          touch www/locale/fr_FR.UTF-8/LC_MESSAGES/messages.ser

          rm -rf lang
          cd ..

          if [ ! -d ~/rpmbuild/SOURCES ] ; then
              mkdir -p ~/rpmbuild/{BUILD,BUILDROOT,RPMS,SOURCES,SPECS,SRPMS}
          fi

          mkdir centreon-$VERSION
          cp -rp centreon centreon-$VERSION/
          ls -l centreon-$VERSION/centreon/
          tar czf ~/rpmbuild/SOURCES/centreon-$VERSION.tar.gz centreon-$VERSION

          cp -rp centreon/packaging/src/* ~/rpmbuild/SOURCES/
          mv ~/rpmbuild/SOURCES/centreon-macroreplacement.centos7.txt ~/rpmbuild/SOURCES/centreon-macroreplacement.txt

          #yum --disablerepo=* --enablerepo=base,updates install -y rpm-build
          rpmbuild -ba centreon/packaging/centreon.spectemplate -D "VERSION $VERSION" -D "REL $RELEASE"

          cp -r ~/rpmbuild/RPMS/noarch/*.rpm .
          chmod 777 *.rpm
        shell: bash

      - name: Cache packaged files
        uses: actions/cache@v3
        with:
          path: ./*.${{ inputs.package_extension }}
          key: ${{ github.sha }}-${{ github.run_id }}-rpm-el7

