on:
  workflow_call:
    inputs:
      widget_name:
        required: true
        type: string
      major_version:
        required: true
        type: string
      minor_version:
        required: true
        type: string
      release:
        required: true
        type: string
    secrets:
      artifactory_username:
        required: true
      artifactory_password:
        required: true

jobs:
  package:

    strategy:
      fail-fast: false
      matrix:
        distrib: [el7, el8, el9, bullseye]
        include:
          - package_extension: rpm
            image: packaging-centos7
            distrib: el7
          - package_extension: rpm
            image: packaging-alma8
            distrib: el8
          - package_extension: rpm
            image: packaging-alma9
            distrib: el9
          - package_extension: deb
            image: packaging-bullseye
            distrib: bullseye

    uses: ./.github/workflows/package.yml
    with:
      base_directory: widgets/centreon-widget-${{ inputs.widget_name }}
      spec_file: widgets/centreon-widget.spectemplate
      package_extension: ${{ matrix.package_extension }}
      image_name: ${{ matrix.image }}
      module_name: centreon
      major_version: ${{ inputs.major_version }}
      minor_version: ${{ inputs.minor_version }}
      release: ${{ inputs.release }}
      cache_key: ${{ github.sha }}-${{ github.run_id }}-${{ matrix.package_extension }}-${{ matrix.distrib }}
    secrets:
      artifactory_username: ${{ secrets.artifactory_username }}
      artifactory_password: ${{ secrets.artifactory_password }}
