on:
  workflow_call:
    inputs:
      widget_name:
        required: true
        type: string
      major_version:
        required: true
        type: string
    secrets:
      artifactory_username:
        required: true
      artifactory_password:
        required: true
      update_repo_path:
        description: "The update repo script path"
        required: true
      cloudfront_id:
        description: "The cloudfront ID for repo url"
        required: true
      yum_repo_address:
        description: "The yum legacy repo address"
        required: true
      yum_repo_key:
        description: "The yum repo key"
        required: true

jobs:
  delivery-rpm:
    runs-on: [self-hosted, common]
    strategy:
      matrix:
        distrib: [el7, el8]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Delivery
        uses: ./.github/actions/rpm-delivery
        with:
          module_name: ${{ matrix.module_name }}
          repository_name: standard
          distrib: ${{ matrix.distrib }}
          version: ${{ inputs.major_version }}
          nexus_username: ${{ secrets.artifactory_username }}
          nexus_password: ${{ secrets.artifactory_password }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-rpm-${{ matrix.distrib }}
          update_repo_path: ${{ inputs.update_repo_path }}
          cloudfront_id: $ {{ inputs.cloudfront_id }}
          yum_repo_address: ${{ inputs.yum_repo_address }}
          yum_repo_key: ${{ inputs.yum_repo_key }}