on:
  workflow_call:
    inputs:
      widget_name:
        required: true
        type: string
      major_version:
        required: true
        type: string
      minor_version:
        required: true
        type: string
      stability:
        required: true
        type: string
      environment:
        required: true
        type: string
      release_type:
        required: true
        type: string
      release_cloud:
        required: true
        type: string
    secrets:
      artifactory_token:
        required: true
      token_download_centreon_com:
        required: true

jobs:
  deliver-sources:
    runs-on: [self-hosted, common]
    if: ${{ contains(fromJson('["stable"]'), inputs.stability) }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Deliver sources
        uses: ./.github/actions/release-sources
        with:
          bucket_directory: centreon-widgets/centreon-widget-${{ inputs.widget_name }}
          module_directory: widgets/centreon-widget-${{ inputs.widget_name }}
          module_name: centreon-widget-${{ inputs.widget_name }}
          major_version: ${{ inputs.major_version }}
          minor_version: ${{ inputs.minor_version }}
          token_download_centreon_com: ${{ secrets.token_download_centreon_com }}

  delivery-rpm:
    if: ${{ contains(fromJson('["testing", "unstable"]'), inputs.stability) }}
    runs-on: [self-hosted, common]
    environment: ${{ inputs.environment }}

    strategy:
      matrix:
        distrib: [el7, el8]

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Delivery
        uses: ./.github/actions/rpm-delivery
        with:
          module_name: widget-${{ inputs.widget_name }}
          distrib: ${{ matrix.distrib }}
          version: ${{ inputs.major_version }}
          artifactory_token: ${{ secrets.artifactory_token }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-rpm-${{ matrix.distrib }}
          stability: ${{ inputs.stability }}
          release_type: ${{ inputs.release_type }}
          release_cloud: ${{ inputs.release_cloud }}

  delivery-deb:
    if: ${{ contains(fromJson('["testing", "unstable"]'), inputs.stability) }}
    runs-on: [self-hosted, common]
    environment: ${{ inputs.environment }}

    strategy:
      matrix:
        distrib: [bullseye]

    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Delivery
        uses: ./.github/actions/deb-delivery
        with:
          module_name: widget-${{ inputs.widget_name }}
          distrib: ${{ matrix.distrib }}
          version: ${{ inputs.major_version }}
          artifactory_token: ${{ secrets.artifactory_token }}
          cache_key: ${{ github.sha }}-${{ github.run_id }}-deb-${{ matrix.distrib }}
          stability: ${{ inputs.stability }}
          release_type: ${{ inputs.release_type }}
          release_cloud: ${{ inputs.release_cloud }}
