includes:
    - ../../vendor/phpstan/phpstan-mockery/extension.neon
    - ../../vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon

rules:
    - Tools\PhpStan\CustomRules\MiscRules\VariableLengthCustomRule
    - Tools\PhpStan\CustomRules\ArchitectureRules\FinalClassCustomRule
    - Tools\PhpStan\CustomRules\RepositoryRules\RepositoryNameCustomRule
    - Tools\PhpStan\CustomRules\RepositoryRules\RepositoryInterfaceNameCustomRule
    - Tools\PhpStan\CustomRules\RepositoryRules\RepositoryNameValidationByInterfaceCustomRule

services:
    -
        class: Tools\PhpStan\CustomRules\Collectors\MethodCallCollector
        tags:
            - phpstan.collector
    -
        class: Tools\PhpStan\CustomRules\Collectors\UseUseCollector
        tags:
            - phpstan.collector

# To use phpstan with custom rules after updating the custom rules

parameters:
    scanFiles:
        - centreon.stub
    paths:
        - ../src/CustomRules
    ignoreErrors:
        - # To ignore all errors in the CustomRules directory
            message: '#.*#'
            paths:
                - ../src/CustomRules